<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>积分明细</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="_css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="_css/all.css" />

	</head>

	<body>

		<div class="integrald_div bcol_f left mt_10">
			<p class="left fifteen col_3 mb_0 integrald_pl wnobr">成功邀请好友</p>
			<p class="right mb_0 col_ff9232 fifteen integrald_pr mb_5 wnobr">
				<img width="18px" style="vertical-align: middle;" src="_images/integral.png"/>
				&nbsp;+10
			</p>
			<p class="full left thirteen col_6 mb_5 wnobr">
				2017-09-27 08:17:07
			</p>
		</div>
		<div class="integrald_div bcol_f left mt_10">
			<p class="left fifteen col_3 mb_0 integrald_pl wnobr">成功邀请好友</p>
			<p class="right mb_0 col_ff9232 fifteen integrald_pr mb_5 wnobr">
				<img width="18px" style="vertical-align: middle;" src="_images/integral.png"/>
				&nbsp;+10
			</p>
			<p class="full left thirteen col_6 mb_5 wnobr">
				2017-09-27 08:17:07
			</p>
		</div>
		<div class="integrald_div bcol_f left mt_10">
			<p class="left fifteen col_3 mb_0 integrald_pl wnobr">成功邀请好友</p>
			<p class="right mb_0 col_ff9232 fifteen integrald_pr mb_5 wnobr">
				<img width="18px" style="vertical-align: middle;" src="_images/integral.png"/>
				&nbsp;+10
			</p>
			<p class="full left thirteen col_6 mb_5 wnobr">
				2017-09-27 08:17:07
			</p>
		</div>
		<div class="integrald_div bcol_f left mt_10">
			<p class="left fifteen col_3 mb_0 integrald_pl wnobr">成功邀请好友</p>
			<p class="right mb_0 col_ff9232 fifteen integrald_pr mb_5 wnobr">
				<img width="18px" style="vertical-align: middle;" src="_images/integral.png"/>
				&nbsp;+10
			</p>
			<p class="full left thirteen col_6 mb_5 wnobr">
				2017-09-27 08:17:07
			</p>
		</div>
		<div class="integrald_div bcol_f left mt_10">
			<p class="left fifteen col_3 mb_0 integrald_pl wnobr">成功邀请好友</p>
			<p class="right mb_0 col_ff9232 fifteen integrald_pr mb_5 wnobr">
				<img width="18px" style="vertical-align: middle;" src="_images/integral.png"/>
				&nbsp;+10
			</p>
			<p class="full left thirteen col_6 mb_5 wnobr">
				2017-09-27 08:17:07
			</p>
		</div>
		<div class="integrald_div bcol_f left mt_10">
			<p class="left fifteen col_3 mb_0 integrald_pl wnobr">成功邀请好友</p>
			<p class="right mb_0 col_ff9232 fifteen integrald_pr mb_5 wnobr">
				<img width="18px" style="vertical-align: middle;" src="_images/integral.png"/>
				&nbsp;+10
			</p>
			<p class="full left thirteen col_6 mb_5 wnobr">
				2017-09-27 08:17:07
			</p>
		</div>
		<script src="_js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
			mui(".full").on('tap','.index',function(){
				// mui.toast("移动端点击事件用tap;click会延迟300ms执行,影响体验");
				
				location.href="{:url('Index/index')}";
		    });
		</script>
	</body>

</html>