<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <title>博权云服务平台-登录</title>
    <script src="_ago/lib/jquery-2.1.4.js"></script>
    <script src="_ago/lib/fastclick.js"></script>
    <script src="_ago/js/jquery-weui.js"></script>
    <link rel="stylesheet" href="_ago/lib/weui.min.css">
    <link rel="stylesheet" href="_ago/css/jquery-weui.css">
    <link rel="stylesheet" href="_ago/css/style.css">
    <link rel="stylesheet" href="_ago/demos/css/demos.css">

<body ontouchstart>
