<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>捷律指南</title>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <!--<meta name="apple-touch-fullscreen" content="yes">-->
    <link rel="stylesheet" type="text/css" href="_lib/weui.min.css">
    <link rel="stylesheet" type="text/css" href="_css/jquery-weui.css">
    <link rel="stylesheet" type="text/css" href="_css/style_h5.css">
    <link rel="stylesheet" type="text/css" href="_css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="_css/weui2.css"/>
    <link rel="stylesheet" type="text/css" href="_css/icon.css"/>
    <style>
        .weui-btn_primary {_
            background-color: #f18b2d;
        }

        .weui-vcode-btn {
            color: #f18b2d;
        }

        .weui-cells {
            margin-top: 0;
        }
    </style>
    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body ontouchstart>
    
     <div style="text-align: center;width: 100%;margin-top: 10px;">
        {$data['content']}
    </div>

<script src="_lib/jquery-2.1.4.js"></script>
<script src="_js/h5.js"></script>
<script src="_lib/fastclick.js"></script>
<script src="_js/jquery-weui.js"></script>
<script type="text/javascript">
    $(function () {
        FastClick.attach(document.body);
    });
    //返回顶部
    $('#backTop').click(function () {
        $('#content').animate({scrollTop: 0}, 300);
    });
    //折叠板
    $('.js-category').click(function () {
        $parent = $(this).parent('li');
        if ($parent.hasClass('js-show')) {
            $parent.removeClass('js-show');
            $(this).children('i').removeClass('icon-35').addClass('icon-74');
        } else {
            $parent.siblings().removeClass('js-show');
            $parent.addClass('js-show');
            $(this).children('i').removeClass('icon-74').addClass('icon-35');
            $parent.siblings().find('i').removeClass('icon-35').addClass('icon-74');
        }
    });

</script>
</body>
</html>