<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>捷律指南</title>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <!--<meta name="apple-touch-fullscreen" content="yes">-->
    <link rel="stylesheet" type="text/css" href="_lib/weui.min.css">
    <link rel="stylesheet" type="text/css" href="_css/jquery-weui.css">
    <link rel="stylesheet" type="text/css" href="_css/style_h5.css">
    <link rel="stylesheet" type="text/css" href="_css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="_css/weui2.css"/>
    <link rel="stylesheet" type="text/css" href="_css/icon.css"/>
    <style>

    </style>
    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body ontouchstart  style="background: #e8e8e8 !important;">
<div>
    <img src="_images/homepage.png" alt="" class="homepage-img">
</div>
<div class="font18" style="background: #ffffff;">
    <div class="homepage-head">
        <div style="flex: 1;border-right: 1px solid #d9d9d9;">
            <div>服务次数</div>
            <div class="homepage-num">{$fuwu}</div>
        </div>
        <div style="flex: 1">
            <div>司机排名</div>
            <div class="homepage-num">{$paiming}</div>
        </div>
    </div>
    {volist name="applist" id="vo"}
    <div class="homepage-con">
        {volist name="vo" id="v"}
        <div style="flex: 1;">
            <div>{$v.name}【<?php echo db('orders')->where('user_assess ='.$v['id'].' and did ='.$did)->count();?>】</div>
        </div> 
        {/volist}
    </div>
    {/volist}
    <!-- <div class="homepage-con">
        <div style="flex: 1;">
            <div>服务次数【10】</div>
        </div>
        <div style="flex: 1">
            <div>司机排名【10】</div>
        </div>
    </div>
    <div class="homepage-con">
        <div style="flex: 1;">
            <div>服务次数【10】</div>
        </div>
        <div style="flex: 1">
            <div>司机排名【10】</div>
        </div>
    </div>
    <div class="homepage-con">
        <div style="flex: 1;">
            <div>服务次数【10】</div>
        </div>
        <div style="flex: 1">
            <div>司机排名【10】</div>
        </div>
    </div>
    <div class="homepage-con">
        <div style="flex: 1;">
            <div>服务次数【10】</div>
        </div>
        <div style="flex: 1">
            <div>司机排名【10】</div>
        </div>
    </div>
    <div class="homepage-con">
        <div style="flex: 1;">
            <div>服务次数【10】</div>
        </div>
        <div style="flex: 1">
            <div>司机排名【10】</div>
        </div>
    </div>
    <div class="homepage-con">
        <div style="flex: 1;">
            <div>服务次数【10】</div>
        </div>
        <div style="flex: 1">
            <div>司机排名【10】</div>
        </div>
    </div> -->

</div>

<script src="_lib/jquery-2.1.4.js"></script>
<script src="_js/h5.js"></script>
<script src="_lib/fastclick.js"></script>
<script src="_js/jquery-weui.js"></script>
<script type="text/javascript">
    $(function () {
        FastClick.attach(document.body);
    });

</script>
</body>
</html>