<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>问题详情</title>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <!--<meta name="apple-touch-fullscreen" content="yes">-->
    <link rel="stylesheet" type="text/css" href="_lib/weui.min.css">
    <link rel="stylesheet" type="text/css" href="_css/jquery-weui.css">
    <link rel="stylesheet" type="text/css" href="_css/style_h5.css">
    <link rel="stylesheet" type="text/css" href="_css/font-awesome.min.css">
    <style>
        .weui-btn_primary {
            background-color: #f18b2d;
        }
        .weui-vcode-btn {
            color: #f18b2d;
        }
        .weui-cells {
            margin-top: 0;
        }
    </style>
    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body ontouchstart style="background: #ebebeb !important;">
<div class="font14" style="padding-top: 0.8rem;">
    <div style="margin: 0 0.8rem 0.8rem;padding: 0.8rem 0.8rem 2rem;background: #ffffff;border-radius: 10px;">
        <h3>{$data['title']}</h3>
        <p>{$data['content']}</p>
    </div>

</div>


<script src="_lib/jquery-2.1.4.js"></script>
<script src="_js/h5.js"></script>
<script src="_lib/fastclick.js"></script>
<script src="_js/jquery-weui.js"></script>
<script type="text/javascript">
    $(function () {
        FastClick.attach(document.body);
    });
    //返回顶部
    $('#backTop').click(function () {
        $('#content').animate({scrollTop: 0}, 300);
    });


</script>
</body>
</html>