{include file="public/header" /}
<body style="padding:10px;">
    <div class="group-button">
        <button class="layui-btn layui-btn-sm layui-btn-primary"  data-method="delAll">
            <i class="iconfont">&#xe626;</i> 删除
        </button>
        <!-- <button class="layui-btn layui-btn-sm layui-btn-primary">
            <i class="iconfont">&#xe62c;</i> 推荐
        </button> -->
        <!-- <button class="layui-btn layui-btn-sm layui-btn-primary">
            <i class="iconfont">&#xe603;</i> 置顶
        </button> -->
        <!-- <button class="layui-btn layui-btn-sm layui-btn-primary">
            <i class="layui-icon">&#x1005;</i> 审核
        </button> -->
        <button class="layui-btn layui-btn-sm  layui-btn-primary modal" data-method="add" data-url="addedit_shop">
            <i class="iconfont">&#xe649;</i> 添加
        </button>
    </div>
    <div style="float:right;padding:10px;text-align: center;">
        <div style="padding:10px;width:100%; text-align: center;">
            <!-- <button type="button" class="layui-btn layui-btn-normal" data-method="add" data-url="addedit_shop">添加店铺</button> -->
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="padding:9px 0;width: auto;" >右侧展示标题：</label>
                    <div class="layui-inline" style="width: 480px;">
                        <input type="text" name="indextitle" value="<?php if(!empty($indextitle)) echo $indextitle; ?>"
                               placeholder="请输入右侧展示标题" class="layui-input" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="padding:9px 0;width: auto;" >右侧展示描述：</label>
                    <div class="layui-inline" style="width: 480px;">
                        <input type="text" name="indexshowdesc" value="<?php if(!empty($indexshowdesc)) echo $indexshowdesc; ?>"
                               placeholder="请输入右侧展示描述" class="layui-input" />
                    </div>
                    <div class="layui-inline" style="display: inline-block;">
                        <button class="layui-btn btn-primary" type="button" onclick="subDesc()">确定</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <script>
        var subDesc = function () {
            var data = {};
            data.indextitle = $("input[name='indextitle']").val();
            data.indexshowdesc = $("input[name='indexshowdesc']").val();
            $.post('SetDesc',data,function (res) {
                if(res.code == 1){
                    layer.msg(res.msg,{icon:1});
                }else{
                    layer.msg(res.msg,{icon:2});
                }
            })
        }
    </script>
    <table class="layui-table">
        <tr>
            <td width="50"><input type="checkbox" id="checkall" /></td>
            <td>标题</td>
            <td>描述</td>
            <td>图片</td>
            <td>是否显示</td>
            <td width="280">操作</td>
        </tr>
        {volist name="list" id="vo"}
            <tr>
                <td><input type="checkbox" name="id[]" value="{$vo.sid}"> </td>
                <td>{$vo.stitle}</td>
                <td>{$vo.sdesc}</td>
                <td><img src="{$vo.simg}" width="50" height="50"></td>
                <td onclick="changest('is_groom',{$vo.is_groom},{$vo.sid})">{if $vo['is_groom'] eq 1} <img src="/static/img/yes.png"  />{else if}<img src="/static/img/no.png" /> {/if}</td>
                <td>
                    <div class="layui-btn-group">
                        <a href="addedit_shop?id={$vo.sid}" class="layui-btn layui-btn-normal">编辑</a>
                        <button type="button" class="layui-btn layui-btn-danger" data-method="del" data-id="{$vo.sid}">删除</button>
                    </div>
                </td>
            </tr>
        {/volist}
        <tr>
            <td colspan="15">
                <div class="pagelist">{$page}</div>
            </td>
        </tr>
        <tr>
            <td><button type="button" class="layui-btn layui-btn-danger" data-method="delAll">删除</button></td>
            <td colspan="15"></td>
        </tr>
    </table>

    <script type="text/javascript">
    layui.use('layer',function(){
        var layer = layui.layer;
    })
    var changest = function (type,status,sid){
        var data = {};
        data.db = 'shop';
        data.pk = 'sid';
        data.type = type;
        data.status = status;
        data.id = sid;
        $.post('/admin/index/up_status',data,function(ret){
            if (ret.code == 1) {
                layer.msg(ret.msg,{icon:1});
                setTimeout("location.reload()",2000);
            }else {
                layer.msg(ret.msg,{icon:2});
            }
        })
    }
    var active = {
    'add':function(){
        location.href=$(this).data('url');
    },del:function(){
        var data = {};
        data.id = $(this).data('id');
        data.db = 'shop';
        layer.confirm('确定要删除吗？',{
            btn:['确定','取消']
        },function(){
            $.post('/admin/index/del',data,function(msg){
                msg = JSON.parse(msg);
                if(msg.code == 1){
                    layer.msg(msg.msg,{icon:1});
                    setTimeout("location.reload()",2000);
                }else{
                    layer.msg(msg.msg,{icon:2});
                }
            })
        },function(){
            console.log('error');
        })
    },
    delAll:function(){
        var id = [];
        $.each($("input[name='id[]']"),function(k,v){
            if(v.checked){
                id.push(v.value);
            }
        })
        if(id.length < 1){
            layer.msg('请选择要删除的公司',{icon:2});
            return false;
        }
        var data = {};
        data.id = id;
        data.db = 'shop';
        layer.confirm('确定要删除吗？',{
            btn:['确定','取消']
        },function(){
            $.post('/admin/index/del',data,function(msg){
                msg = JSON.parse(msg);
                if(msg.code == 1){
                    layer.msg(msg.msg,{icon:1});
                    setTimeout("location.reload()",2000);
                }else{
                    layer.msg(msg.msg,{icon:2});
                }
            })
        },function(){

        })
    }
    }
    $("#checkall").click(function(){
    $.each($("input[name='id[]']"),function(k,v){
        v.checked = !v.checked;
    })
    })
    $(".layui-btn").on('click',function(){
    var othis = $(this), method = othis.data('method');
    active[method] ? active[method].call(this, othis) : '';
    })
    </script>
{include file="public/footer" /}
