{include file="public/header" /}
<style>
body {
	background-color: #eeeeee;
}

.content {
	padding: 0 15px !important;
}

.small-box {
	margin-bottom: 0px;
	color: #FFFFFF;
}

.table-header-sort {
	cursor: pointer;
	color: black !important;
}

.tooltip>.tooltip-inner {
	background-color: #e5e5e5;
	color: #0c0c0c
}

.tooltip.top .tooltip-arrow {
	border-top-color: #e5e5e5;
}

#wait {
	background: rgba(255, 255, 255, 0.5) url("/resource/images/wait.gif")
		center no-repeat;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9000;
}

.dnone {
	display: none;
}

[v-cloak] {
	display: none
}

.iconfont {
	width: 50px !important;
}

.dropdown-menu>li a {
	transition: background-color ease .3s, color ease .3s, border-color ease
		.3s;
}

.dropdown-menu>li a:hover {
	background-color: #3c8dbc;
	color: white;
	border-color: #3c8dbc;
}

.dropdown-toggle {
	transition: background-color ease .3s, color ease .3s, border-color ease
		.3s;
}

.dropdown-toggle:hover {
	background-color: #3c8dbc;
	color: white;
	border-color: #3c8dbc;
}

.open .dropdown-toggle {
	background-color: #3c8dbc !important;
	color: white !important;
	border-color: #3c8dbc !important;
}

.btn-default1 {
	background-color: #f4f4f4;
	color: #444;
	border-color: #ddd;
}

.small-box .icon {
	top: -25px !important;
}

.small-box h3 {
	font-size: 30px !important;
	margin: 0 0 10px 0 !important;
	white-space: nowrap !important;
	padding: 0 !important;
	font-weight: normal !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	line-height: 2.4;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
</style>
<div class="" id="main">
	<section class="content" style="min-width: 760px !important;">
		<div class="">
		
			<form id="mainForm" action="parts_edit" method="post"  onsubmit="return check_from();"
				class="nice-validator n-default n-bootstrap" novalidate="novalidate">
				<input type="hidden" id="id" name="id" value="{$se['id']}">

				<div class="box box-solid">
					<div class="box-body">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<button type="submit" class="btn btn-primary"
									id="customerFrameSave">保存</button>
								<div class="btn-group">
									<a href="javascript:history.go(-1)" class="btn btn-default">取消</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="box box-solid">
					<div class="box-header with-border">
						<span style="font-weight: bold">产品基本信息</span>
					</div>

					<div class="box-body">
						<div class="modal-body" style="height: 500px;">
									<div class="container-fluid">

										<div class="form-group col-md-12">
											<label for="name" class="col-md-2 col-sm-3 control-label">编号<span
												class="text-red" title="必填">*</span>：
											</label>
											<div class="col-md-8 col-sm-7">
												<input type="text" class="form-control"
													placeholder="[编号是唯一的,注意避免重复]" id="product_number" name="product_number" value="{$se['product_number']}"
													maxlength="50" aria-required="true">
											</div>
											<div class="col-sm-2 validation-tip"></div>
										</div>

										<div class="form-group col-md-12">
											<label for="name" class="col-md-2 col-sm-3 control-label">名称<span
												class="text-red" title="必填">*</span>：
											</label>
											<div class="col-md-8 col-sm-7">
												<input type="text" class="form-control"
													placeholder="[最多50字]" id="name" name="name" maxlength="50" value="{$se['name']}"
													aria-required="true">
											</div>
											<div class="col-sm-2 validation-tip"></div>
										</div>



										<div class="form-group col-md-12">
											<label for="lmPhone" class="col-md-2 col-sm-3 control-label">标准单价<span
												class="text-red" title="必填">*</span>：
											</label>
											<div class="col-md-8 col-sm-7">
												<input type="text" class="form-control" id="price"
													name="price" placeholder="最多两位小数" 
													maxlength="50" aria-required="true" value="{$se['price']}">
											</div>
											<div class="col-sm-2 validation-tip"></div>
										</div>


										<div class="form-group col-md-12">
											<label for="lmPhone" class="col-md-2 col-sm-3 control-label">销售单价<span
												class="text-red" title="必填">*</span>：
											</label>
											<div class="col-md-8 col-sm-7">
												<input type="text" class="form-control" id="out_price" value="{$se['out_price']}"
													name="out_price" placeholder="最多两位小数" maxlength="50" aria-required="true">
											</div>
											<div class="col-sm-2 validation-tip"></div>
										</div>

										<div class="form-group col-md-12">
											<label for="name" class="col-md-2 col-sm-3 control-label">单位<span
												class="text-red" title="必填">*</span>：
											</label>
											<div class="col-md-8 col-sm-7">
												<input type="text" class="form-control"
													placeholder="[最多50字]" id="unit" name="unit" value="{$se['unit']}"
													maxlength="50" aria-required="true">
											</div>
											<div class="col-sm-2 validation-tip"></div>
										</div>
										<div class="form-group col-md-12">
											<label for="name" class="col-md-2 col-sm-3 control-label">系统数量<span
												class="text-red" title="必填"></span>：
											</label>
											<div class="col-md-8 col-sm-7">
												<input type="text" class="form-control"
													placeholder="[只允许数字]"  name="p_count" value="{$se['p_count']}"
													maxlength="50" aria-required="true" onkeyup="this.value=this.value.replace(/\D/g,'')">
											</div>
											<div class="col-sm-2 validation-tip"></div>
										</div>



										<div class="form-group col-md-12">
											<label for="name" class="col-md-2 col-sm-3 control-label">规格<span
												class="text-red" title="必填">*</span>：
											</label>
											<div class="col-md-8 col-sm-7">
												<input type="text" class="form-control"
													placeholder="[最多50字]" id="specification" name="specification" value="{$se['specification']}"
													maxlength="50" aria-required="true">
											</div>
											<div class="col-sm-2 validation-tip"></div>
										</div>

										<div class="form-group col-md-12">
											<label for="lmPhone" class="col-md-2 col-sm-3 control-label">产品分类<span
												class="text-red" title="必填">*</span>：
											</label>
											<div class="col-md-8 col-sm-7">

												<select style="width: 100%" id="cateid" value="{$se['cateid']}"
													name="cateid" tabindex="-1" class=""
													aria-hidden="true"> {volist name="partscate"
													id="vo"}
													<option value="{$vo.name}" {if condition="$se['cateid'] eq $vo['name']"}selected{/if}>{$vo.name}</option>
													{/volist}
												</select>

											</div>
											<div class="col-sm-2 validation-tip"></div>
										</div>

										<div class="form-group col-md-12">
												<label for="lmPhone" class="col-md-2 col-sm-3 control-label">产品介绍
													<span class="text-red" title="必填">*</span>：
												</label>
												<div class="col-md-8 col-sm-7">
													<textarea class="form-control" id="content" name="content">{$se.content}</textarea>
												</div>
											<div class="col-sm-2 validation-tip"></div>
										</div>

									</div>
							</div>
						
					</div>
				</div>
		</div>

		</form>
</div>
</section>
</div>
{include file="public/footer" /}
<script>
//js验证表单提交方法
function check_from(){
	var product_number = $('input[name="product_number"]').val();
	var name = $('input[name="name"]').val();
	var price = $('input[name="price"]').val();
	var out_price = $('input[name="out_price"]').val();
	var unit = $('input[name="unit"]').val();
	var specification = $('input[name="specification"]').val();

	if($.trim(product_number) == ''){
		alert('请填写编号');
		return false;
	}
	if($.trim(name) == ''){
		alert('请填写名称');
		return false;
	}
	if($.trim(price) == ''){
		alert('请填写单价');
		return false;
	}
	if($.trim(out_price) == ''){
		alert('请填写销售价');
		return false;
	}
	if($.trim(unit) == ''){
		alert('请填写单位');
		return false;
	}
	if($.trim(specification) == ''){
		alert('请填写规格');
		return false;
	}
} 

</script>