{include file="public/header" /}
<style>
    body {
        margin-top: 50px;
        background-color: #eeeeee;
    }

    .navbar-inverse {
        background-color: #27a9e6;
        border-color: #27a9e6;
        color: #ffffff;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }

    .navbar-inverse .navbar-brand {
        color: #ffffff !important;
    }

    @media (min-width: 1200px) {
        .navbar-header {
            float: left;
            margin-left: 72px;
        }
    }

    .navbar-inverse .navbar-toggle {
        border-color: #fff;
    }
</style>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" data-href="{:url('index/main')}" href="javascript:void(0)">
                捷律出行 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$Think.session.user->gname}
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li style="position:relative;width: 52px;height: 52px;line-height: 52px;text-align: center;">
                <a href="{:url('System/system_info')}" target="mes">
                    <i class="fa fa-bell" style="font-size: 20px;color: #ffffff;"></i>
                    {if condition="$mes neq 0"}
                    <div style="position: absolute;right: 9px;top: 13px;width: 15px;height: 17px;font-size: 14px;color: #fff;background: #ff0000;border-radius: 100%;">{$mes}</div>
                    {/if}
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="_images/self1.png" alt=""></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:;"><i class="fa fa-fw fa-user"></i>{$Think.session.user->user_name}</a>
                    </li>
                    <!--<li>-->
                        <!--<a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <li>
                        <a href="{:url('index/sign_out')}"><i class="fa fa-fw fa-power-off"></i> 退出登录</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                {volist name="menu" id="vo"}
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#{$vo.con}"><i
                            class="{$vo.mimg}"></i> {$vo.mname} <i class="fa fa-fw fa-angle-right"></i></a>
                    <ul id="{$vo.con}" class="collapse">
                        {volist name="vo.child" id="v"}
                            <li>
                                <a data-leftHref="{:request()->module()}/{$v.con}/{$v.method}" href="javascript:void(0)"
                                   onclick="closableTab.addTab({'id': '{$v.mid}', 'name': this.innerText, 'url': this.getAttribute('data-leftHref'), 'closable': true});">
                                    <i class="{$v.mimg}"></i>{$v.mname}
                                </a>
                            </li>
                        {/volist}
                        {if $vo.mname eq '系统管理' and (Session('user')->pid eq 0 )}
                            <li>
                                <a data-leftHref="{:request()->module()}/admin/setgroup" href="javascript:void(0)"
                                   onclick="closableTab.addTab({'id': '77', 'name': this.innerText, 'url': this.getAttribute('data-leftHref'), 'closable': true});">
                                    <i class="fa fa-fw fa-circle-o"></i>区域管理
                                </a>
                            </li>
                            <!-- {if Session('user')->pid eq 0}
                                <li>
                                    <a data-leftHref="{:request()->module()}/data/database" href="javascript:void(0)"
                                       onclick="closableTab.addTab({'id': '78', 'name': this.innerText, 'url': this.getAttribute('data-leftHref'), 'closable': true});">
                                        <i class="fa fa-fw fa-circle-o"></i>数据库管理
                                    </a>
                                </li>
                            {/if} -->
                        {/if}
                    </ul>
                </li>
                {/volist}
            </ul>
        </div>
    </nav>
    <div class="content-wrapper content-wrapper-new">
        <!-- Breadcrumbs-->
        <div class="breadcrumb header-tab">
            <div class="header-tab-border"></div>
            <div class="header-tab-item-home header-tab-active">
                <a data-leftHref="{:url('index/main')}" href="javascript:void(0)" onclick="closableTab.addTab({'id': '0', 'name': this.innerText, 'url': this.getAttribute('data-leftHref'), 'closable': true});">首页</a>
            </div>
        </div>
        <div id="iframe-content" class="iframe-content">
            <!--<div class="loading"></div>-->
            <iframe class="all-iframe" frameborder="0" src="{:url('index/main')}"></iframe>
        </div>
    </div>


</div>
<script>
    //给首页标签加active
    $('.header-tab-item-home').addClass('header-tab-active');
    //    $('.loading').animate({opacity:'0'},1000);
    //点击首页标签页
    $('.header-tab-item-home, .navbar-brand, .header-icon').click(function () {
        $("iframe").hide();
        $("iframe[src='{:url("index/main")}']").show();
        $("div[id^=tab_seed_]").removeClass("li-active");
        $('.header-tab-item-home').addClass('header-tab-active');
    })
    var closableTab = {
        //添加tab
        addTab: function (tabItem) {             //tabItem = {id,name,url,closable}
            if ($('.header-tab').html().indexOf(tabItem.name) == '-1') {        //标签里面没有这个标签，新建标签
                var id = "tab_seed_" + tabItem.id;
                var li_tab = '<div class="header-tab-item" id="' + id + '"><a onclick="closableTab.otherTab(this)" data-id="' + id + '" data-href="/' + tabItem.url + '" href="javascript:void(0)">' + tabItem.name;
                if (tabItem.closable) {
                    li_tab = li_tab + '</a><i class="fa fa-fw fa-close"  data-href="/' + tabItem.url + '" tabclose="' + id + '" onclick="closableTab.closeTab(this)"></i></li>';
                } else {
                    li_tab = li_tab + '</a></div>';
                }
                $('.header-tab').append(li_tab);
                $('.header-tab-item-home').removeClass('header-tab-active');
                $("div[id^=tab_seed_]").removeClass("li-active");
                $("#tab_seed_" + tabItem.id).addClass("li-active");
                closableTab.creatIframe('/' + tabItem.url);
            } else {
                $("div[id^=tab_seed_]").removeClass("li-active");
                $("#tab_seed_" + tabItem.id).addClass("li-active");
                $("iframe").hide();
                $("iframe[src='/" + tabItem.url + "']").show();
            }

        },
        //阻止冒泡
        cancelBubble: function (e) {
            var evt = e ? e : window.event;
            if (evt.stopPropagation) {        //W3C
                evt.stopPropagation();
            } else {       //IE
                evt.cancelBubble = true;
            }
        },
        //关闭tab,关闭iframe
        closeTab: function (obj) {
            closableTab.cancelBubble();
            var val = $(obj).attr('tabclose');
            var dataHref = $(obj).attr('data-href');
            $("#" + val).remove();
            if ($(obj).parent().next().length) { //如果这个标签不处在最后一个
                var href = $(obj).prev().attr('data-href');
                $("iframe[src='" + href + "']").remove();
            } else {
                $(".header-tab-item").last().addClass('li-active');
                $("iframe[src='" + dataHref + "']").eq(0).remove();
                var href = $(".header-tab-item").last().children().eq(0).attr('data-href');
                $("iframe[src='" + href + "']").eq(0).show();
                $(".sidenav-second-level a").parent().removeClass('li-active');
                $(".sidenav-second-level a[data-leftHref='" + href + "']").parent().addClass('li-active');
                if (!$('.header-tab-item').length) { //如果所有的标签都没有了的话
                    $(".sidenav-second-level").removeClass('show');
                    $('.header-tab-item-home').addClass('header-tab-active');
                    $("iframe[src='/boquan/index/main.htm']").show();
                } else {
                    console.log($(".sidenav-second-level a[data-lefthref='" + href + "']").parent().parent().html());
                    return false;
                    // if ($(".sidenav-second-level a[data-lefthref='" + href + "']").parent().parent().html().indexOf(dataHref) == '-1') { //如果最后一个左侧的li 不和 被关闭的li在同一个 class下
                    //     $(".sidenav-second-level").removeClass('show');
                    //     $(".sidenav-second-level a[data-lefthref='" + href + "']").parent().parent().addClass('show');
                    //     $(".sidenav-second-level a[data-lefthref='" + dataHref + "']").parent().parent().parent().removeClass('collapsed');
                    // }
                }
            }
        },
        //创建iframe
        creatIframe: function (href) {
            $('iframe').hide();
            $('#iframe-content').append('<iframe  class="all-iframe" frameborder="0" src=' + href + ' ></iframe>');
        },
        //给首页标签添加样式
        homeTab: function () {
            $('.header-tab-item-home').addClass('header-tab-active');
            if ($("div[id^=tab_seed_]").size() > 0) { //如果这个id的div存在，移除所有active样式
                $("div[id^=tab_seed_]").removeClass("li-active");
            }
        },
        otherTab: function (obj) {
            var href = $(obj).attr('data-href');
            var id = $(obj).attr('data-id');
            $("iframe").hide();
            $("iframe[src='" + href + "']").show();
            $("div[id^=tab_seed_]").removeClass("li-active");
            $('.header-tab-item-home').removeClass('header-tab-active');
            $("#" + id).addClass("li-active");
        }
    }
</script>
{include file="public/footer" /}
