{include file="public/header" /}
<link rel="stylesheet" href="_css/select2.min.css">

<link
    href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.css"
    rel="stylesheet" />
<script
    src="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/moment.min.js"></script>
<script
    src="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.js"></script>
<script src="_js/bootstrap-datetimepicker.min.js"></script>
<script src="_js/bootstrap-datetimepicker.zh-CN.js"></script>

<link rel="stylesheet" href="_css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="_kind/themes/default/default.css">
<script src="_kind/kindeditor.js"></script>
<script src="_kind/lang/zh_CN.js"></script>
<!--
必须引入jquery,后面的循环和赋值需要用到
1.循环上传按钮、
2.每个上传按钮的点击事件
建议点击按钮的class有upload_img
注意：点击按钮之前要用一个input来存放文件的路径
    input之前需要一个img来显示图片
-->

<script>
function readys(){
    KindEditor.ready(function(K) {
        var editor = K.editor({
            allowFileManager : true
        });
        $(".upload_img").each(function(k,v){ //循环上传按钮、
            $(v).click(function(){ //每个上传按钮的点击事件
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl:$(v).prev().val(),
                        clickFn : function(url, title, width, height, border, align) {
                            $(v).prev().val(url); //为他之前的input赋值
                            $(v).prev().prev().attr("src",url); //为他之前的之前的img赋值
                            editor.hideDialog();
                        }
                    });
                });
            });
        })
    });
}
readys();
</script>
<style>

body {
    background-color: #eeeeee;
}

.content {
    padding: 0 15px !important;
}

.small-box {
    margin-bottom: 0px;
    color: #FFFFFF;
}

.table-header-sort {
    cursor: pointer;
    color: black !important;
}

.tooltip>.tooltip-inner {
    background-color: #e5e5e5;
    color: #0c0c0c
}

.tooltip.top .tooltip-arrow {
    border-top-color: #e5e5e5;
}

#wait {
    background: rgba(255, 255, 255, 0.5) url("/resource/images/wait.gif")
        center no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9000;
}

.dnone {
    display: none;
}

[v-cloak] {
    display: none
}

.iconfont {
    width: 50px !important;
}

.dropdown-menu>li a {
    transition: background-color ease .3s, color ease .3s, border-color ease
        .3s;
}

.dropdown-menu>li a:hover {
    background-color: #3c8dbc;
    color: white;
    border-color: #3c8dbc;
}

.dropdown-toggle {
    transition: background-color ease .3s, color ease .3s, border-color ease
        .3s;
}

.dropdown-toggle:hover {
    background-color: #3c8dbc;
    color: white;
    border-color: #3c8dbc;
}

.open .dropdown-toggle {
    background-color: #3c8dbc !important;
    color: white !important;
    border-color: #3c8dbc !important;
}

.btn-default1 {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.small-box .icon {
    top: -25px !important;
}

.small-box h3 {
    font-size: 30px !important;
    margin: 0 0 10px 0 !important;
    white-space: nowrap !important;
    padding: 0 !important;
    font-weight: normal !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
    .table>thead>tr>td, .table>thead>tr>th {
    line-height: 2.4;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
</style>
<div class="" id="main">
    <section class="content" style="min-width: 760px !important;">
        <div class="">

            <input type="hidden" id="sortSeachModel" name="sortBy[taskNo]" value="false"> <input type="hidden" id="workTaskId" name="id" value="">

            <div class="box box-solid">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="btn-group" id="auth_delete">

                                
                                <!-- <a href="javascript:$('#customerFrameModal').modal('show');" class="filterToBe filterActive" style="margin-left: 10px;">新建</a> -->
                                <a href="{:url('Workorder/driver_cap',['cid'=>0])}" {if condition="$cid eq 0"} class="filterToBe filterActive" {else} class="filterToBe" {/if}>全部</a>
                                {volist name="cart_type" id="vo"}
                                <a href="{:url('Workorder/driver_cap',['cid'=>$vo.id])}" {if condition="$cid eq $vo['id']"} class="filterToBe filterActive" {else} class="filterToBe" {/if}>{$vo.type_name}</a>
                                {/volist}
                                <!-- <a href="javascript:del()" class="btn btn-default btn-sm" style="margin-left: 10px;">删除</a> -->

                            </div>
                            
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <form id="mainForm" action="search_driver" method="get"
                                class="nice-validator n-default n-bootstrap"
                                novalidate="novalidate">
                                <div class="input-group">
                                    <input type="text" class="form-control keyword-search criteria"
                                        placeholder="请输入姓名 | 手机号" value="" id="keyword" name="keyword"
                                        maxlength="50"> <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" id="btnSearch">搜
                                            索</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="box box-solid">
                <div class="box-body no-padding">
                    <div class="table-responsive list">
                        <table class="table table-hover table-striped table-bordered"
                            id="taskTable">
                            <thead>
                                <tr><th></th>
                                    <th>所属区域</th>
                                    <th>姓名</th>
                                    <th id="tour_1" name="taskCustomer">手机号</th>
                                    <th name="taskCustomerLinkmanPhone">证件照</th>
                                    <th name="taskPlanTime">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {if condition="$res eq false"} 
                                {volist name="data" id="vo"}
                                <tr>
                                    <td name="taskCustomer"></td>
                                    <td name="taskCustomer">{$vo.region_id}</td>
                                    <td name="taskCustomer">{$vo.rela_name}</td>
                                    <td name="taskCustomer">{$vo.mobile}</td>
                                    <td name="taskCustomer"><img src="{$vo.driverlicens_header}" style="width: 100px;height: 100px;"></td>
                                    <td><a href="javascript:check_driver({$vo.did});" class="filterToBe filterActive">指派</a></td>
                                </tr>
                                {/volist} {else}

                                <tr>
                                    <td colspan="19" style="text-align: center;">未找到相关数据</td>
                                </tr>
                                {/if}
                            
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="box-footer ">
                    <div class="col-lg-8 ">
                        <!-- <ul class="pagination pull-right" id="pagination1"></ul> -->

                        {$page}
                    </div>
                </div>

            </div>
                



            <div class="modal fade in" id="customerFrameModal"
                aria-hidden="false">
                <div class="modal-dialog" style="width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">新增司机</h4>
                        </div>
                        <div class="modal-body">
                            <form name="add" id="add" method="post" action="" onsubmit="return check_from();">
                                <div class="container-fluid">
                                        <div class="form-group col-md-12" style="text-align: center;font-weight:bold;">身份信息
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="lmPhone" class="col-md-2 col-sm-3 control-label">地区<span
                                                class="text-red" title="必填">*</span>：
                                            </label>
                                            <div class="col-md-8 col-sm-7">

                                                <select name="" id="province" data-toggle="popover" data-placement="bottom" data-content="请选择省份" style="width: 45%;height: 30px;">
                                                    <option>请选择省份</option>
                                                    {volist name="region_data" id="vo"}
                                                    <option value="{$vo.id}">{$vo.name}</option>
                                                    {/volist}
                                                </select>
                                                <select name="region_id" id="city"
                                                data-toggle="popover" data-placement="bottom" data-content="请选择市" style="width: 45%;height: 30px;">
                                                    <option value="0">请选择市</option>
                                                </select>
                                                <!-- <select name="district_id" id="area" data-toggle="popover" data-placement="bottom" data-content="请选择区" style="width: 100%;height: 30px;">
                                                    <option value="0">请选择区</option>
                                                    
                                                </select> -->

                                            </div>
                                            <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="lmPhone" class="col-md-2 col-sm-3 control-label">真实姓名<span
                                                    class="text-red" title="必填"></span>：
                                            </label>
                                            <div class="col-md-8 col-sm-7">
                                                <input type="text" class="form-control"
                                                       placeholder="[最多10字]" name="rela_name" maxlength="50"
                                                       aria-required="true">
                                            </div>
                                            <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="lmPhone" class="col-md-2 col-sm-3 control-label">手机号<span
                                                    class="text-red" title="必填"></span>：
                                            </label>
                                            <div class="col-md-8 col-sm-7">
                                                <input type="text" class="form-control"
                                                       placeholder="[只允许数字]" name="mobile" maxlength="50"
                                                       aria-required="true" onkeyup="this.value=this.value.replace(/\D/g,'')">
                                            </div>
                                            <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="lmPhone" class="col-md-2 col-sm-3 control-label">身份证号<span
                                                    class="text-red" title="必填"></span>：
                                            </label>
                                            <div class="col-md-8 col-sm-7">
                                                <input type="text" class="form-control"
                                                       placeholder="[最多10字]" name="id_card" maxlength="50"
                                                       aria-required="true" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
                                            </div>
                                            <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="name" class="col-md-2 col-sm-3 control-label">初领驾照时间<span class="text-red" title="必填">*</span>：
                                            </label>
                                            <div class="col-md-8 col-sm-7">
                                                <input type="text" readonly value="" id="createTime1"
                                                name="first_driver" class="form-control"/>
                                            </div>
                                            <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12" style="text-align: center;font-weight:bold;">银行卡信息
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="lmPhone" class="col-md-2 col-sm-3 control-label">持卡人姓名<span
                                                    class="text-red" title="必填"></span>：
                                            </label>
                                            <div class="col-md-8 col-sm-7">
                                                <input type="text" class="form-control"
                                                       placeholder="[最多10字]" name="bank_name" maxlength="50"
                                                       aria-required="true">
                                            </div>
                                            <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="lmPhone" class="col-md-2 col-sm-3 control-label">银行卡号<span
                                                    class="text-red" title="必填"></span>：
                                            </label>
                                            <div class="col-md-8 col-sm-7">
                                                <input type="text" class="form-control"
                                                       placeholder="[只允许数字]" name="bank_num" maxlength="50"
                                                       aria-required="true" onkeyup="this.value=this.value.replace(/\D/g,'')">
                                            </div>
                                            <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12" style="text-align: center;font-weight:bold;">车辆信息
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="lmPhone" class="col-md-2 col-sm-3 control-label">车牌号<span
                                                    class="text-red" title="必填"></span>：
                                            </label>
                                            <div class="col-md-8 col-sm-7">
                                                <input type="text" class="form-control"
                                                       placeholder="[只允许数字]" name="car_num" maxlength="50"
                                                       aria-required="true" >
                                            </div>
                                            <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="lmPhone" class="col-md-2 col-sm-3 control-label">车辆所有人<span
                                                    class="text-red" title="必填"></span>：
                                            </label>
                                            <div class="col-md-8 col-sm-7">
                                                <input type="text" class="form-control"
                                                       placeholder="[最多10字]" name="owner" maxlength="50"
                                                       aria-required="true">
                                            </div>
                                            <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="name" class="col-md-2 col-sm-3 control-label">车辆注册时间<span class="text-red" title="必填">*</span>：
                                            </label>
                                            <div class="col-md-8 col-sm-7">
                                                <input type="text" readonly value="" id="createTime2"
                                                name="car_date" class="form-control"/>
                                            </div>
                                            <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12">
                                           <label for="lmPhone" class="col-md-2 col-sm-3 control-label">   行驶证正面照<span class="text-red"  title="必填">*</span>：
                                           </label>
                                           <div class="col-md-8 col-sm-7">
                                                <img src="" style="max-width:100px;">
                                                <input type="hidden" name="driverlicens_top" value="" /> 
                                                <input type="button" class="upload_img" value="选择图片" />
                                           </div>
                                           <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12">
                                           <label for="lmPhone" class="col-md-2 col-sm-3 control-label">   行驶证反面照<span class="text-red"  title="必填">*</span>：
                                           </label>
                                           <div class="col-md-8 col-sm-7">
                                                <img src="" style="max-width:100px;">
                                                <input type="hidden" name="driverlicens_under" value="" /> 
                                                <input type="button" class="upload_img" value="选择图片" />
                                           </div>
                                           <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12">
                                           <label for="lmPhone" class="col-md-2 col-sm-3 control-label">   驾驶证正面照<span class="text-red"  title="必填">*</span>：
                                           </label>
                                           <div class="col-md-8 col-sm-7">
                                                <img src="" style="max-width:100px;">
                                                <input type="hidden" name="driverlicens_header" value="" /> 
                                                <input type="button" class="upload_img" value="选择图片" />
                                           </div>
                                           <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12">
                                           <label for="lmPhone" class="col-md-2 col-sm-3 control-label">   驾驶证反面照<span class="text-red"  title="必填">*</span>：
                                           </label>
                                           <div class="col-md-8 col-sm-7">
                                                <img src="" style="max-width:100px;">
                                                <input type="hidden" name="driverlicens_footer" value="" /> 
                                                <input type="button" class="upload_img" value="选择图片" />
                                           </div>
                                           <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12">
                                           <label for="lmPhone" class="col-md-2 col-sm-3 control-label">   人车合一照<span class="text-red"  title="必填">*</span>：
                                           </label>
                                           <div class="col-md-8 col-sm-7">
                                                <img src="" style="max-width:100px;">
                                                <input type="hidden" name="car_person" value="" /> 
                                                <input type="button" class="upload_img" value="选择图片" />
                                           </div>
                                           <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12" style="text-align: center;font-weight:bold;">从业信息
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="lmPhone" class="col-md-2 col-sm-3 control-label">服务卡号<span
                                                    class="text-red" title="必填"></span>：
                                            </label>
                                            <div class="col-md-8 col-sm-7">
                                                <input type="text" class="form-control"
                                                       placeholder="[只允许数字 | 字母]" name="service_number" maxlength="50"
                                                       aria-required="true" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
                                            </div>
                                            <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12">
                                           <label for="lmPhone" class="col-md-2 col-sm-3 control-label">   服务卡照片<span class="text-red"  title="必填">*</span>：
                                           </label>
                                           <div class="col-md-8 col-sm-7">
                                                <img src="" style="max-width:100px;">
                                                <input type="hidden" name="service_img" value="" /> 
                                                <input type="button" class="upload_img" value="选择图片" />
                                           </div>
                                           <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12">
                                           <label for="lmPhone" class="col-md-2 col-sm-3 control-label">   从业资格证照片<span class="text-red"  title="必填">*</span>：
                                           </label>
                                           <div class="col-md-8 col-sm-7">
                                                <img src="" style="max-width:100px;">
                                                <input type="hidden" name="certification_img" value="" /> 
                                                <input type="button" class="upload_img" value="选择图片" />
                                           </div>
                                           <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="lmPhone" class="col-md-2 col-sm-3 control-label">车类型<span
                                                class="text-red" title="必填">*</span>：
                                            </label>
                                            <div class="col-md-8 col-sm-7">

                                                <select style="width: 100%;height: 30px;" id="cateid" name="car_id"
                                                    tabindex="-1"  
                                                    aria-hidden="true"> 
                                                    {volist name="cart_type" id="vo"}
                                                    <option value="{$vo.id}" >{$vo.type_name}</option>
                                                    {/volist}
                                                </select>

                                            </div>
                                            <div class="col-sm-2 validation-tip"></div>
                                        </div>
                                        <div id="gongsi">
                                            <div class="form-group col-md-12" style="text-align: center;font-weight:bold;">公司信息
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="lmPhone" class="col-md-2 col-sm-3 control-label">车牌所属<span
                                                        class="text-red" title="必填"></span>：
                                                </label>
                                                <div class="col-md-8 col-sm-7">
                                                    <input type="text" class="form-control"
                                                           placeholder="[最多10字]" name="plate_belongs" maxlength="50"
                                                           aria-required="true">
                                                </div>
                                                <div class="col-sm-2 validation-tip"></div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="lmPhone" class="col-md-2 col-sm-3 control-label">出租车公司<span
                                                        class="text-red" title="必填"></span>：
                                                </label>
                                                <div class="col-md-8 col-sm-7">
                                                    <input type="text" class="form-control"
                                                           placeholder="[最多10字]" name="taxi_enterprise" maxlength="50"
                                                           aria-required="true">
                                                </div>
                                                <div class="col-sm-2 validation-tip"></div>
                                            </div>
                                        </div>
                                        

                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary"
                                id="customerFrameSave">保存</button>
                        </div>
                        </form>
                        
                    </div>
                </div>
            </div>
            <input type="hidden" id="oid" value="{$oid}">
        </div>
    </section>
</div>
{include file="public/footer" /}

<script>
 


    //搜索框没内容处理
    $('#btnSearch').click(function(){
        var keyword = $('#keyword').val();
        if (keyword == '') {
            return false;
        }
    })



    function check_driver(did) {
        var oid = $('#oid').val();
        $.post("{:url('Workorder/workorder_assign')}",{did:did,oid:oid},function(data){
            if(data['code'] == 0){
                alert(data['mages']);
            }else if(data['code'] == 1){
                alert(data['mages']);
                window.parent.location.reload();
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            }else if(data['code'] == 3){
                alert(data['mages']);
            }
        },'json')
    }


</script>