{include file="public/header" /}
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
        }
        a{
            text-decoration: none;
            color: #000000;
        }
    </style>
<body>
<div style="position: relative;width: 100%;height: 100vh;background-size: 100% 100vh;background: #ffffff  url(_images/login_bg.png) no-repeat center;">
    <div style="position: absolute;left: 50%;top: 20%;transform: translate(-50%,-50%);padding: 20px;background: rgba(242,242,242,0.6)">您还没有操作权限，您可以申请主机厂或邀请员工</div>
    <a href="javascipt:;" id="app_host" style="position: absolute;left: 30%;top: 50%;transform: translate(-50%,-50%);width: 500px;height: 200px;line-height: 200px;font-size: 40px;text-align: center;background: rgba(249,249,249,0.82)">申请主机厂</a>
    <a href="javascipt:;" id="" style="position: absolute;right: 30%;top: 50%;transform: translate(50%,-50%);width: 500px;height: 200px;line-height: 200px;font-size: 40px;text-align: center;background: rgba(249,249,249,0.82)">邀请员工</a>
</div>
<div id="host_con" style="display:none;">
    <div class="" style="padding:10px;">
        <label class="layui-form-label">请选择要申请的主机厂：</label>
        <div style="padding:10px;">
            <select type="text" class="form-control" name="hostname" id="hostname">
                <option value="">请选择</option>
            {volist name="glist" id="vo"}
            <option value="{$vo.gid}">{$vo.gname}</option>
            {/volist}
            </select>
        </div>
    </div>
</div>
<script>
    $("#app_host").on('click',function(){
        layer.open({
            type:1,
            title:"申请主机厂",
            shadeClose:false,
            area:['400px','200px'],
            content:$("#host_con"),
            btn:['确定','取消'],
            yes:function(){
                var data = {};
                data.gid = $('#hostname').val();
                $.post('apphost',data,function(res){
                    alert(res.msg);
                    if(res.code == 1){
                        parent.location.reload();
                    }
                })
                return false;
            }
        })
    })
</script>
</body>
</html>