{include file="public/header" /}

<style>

body {
    background-color: #eeeeee;
}

.content {
    padding: 0 15px !important;
}

.small-box {
    margin-bottom: 0px;
    color: #FFFFFF;
}

.table-header-sort {
    cursor: pointer;
    color: black !important;
}

.tooltip>.tooltip-inner {
    background-color: #e5e5e5;
    color: #0c0c0c
}

.tooltip.top .tooltip-arrow {
    border-top-color: #e5e5e5;
}

#wait {
    background: rgba(255, 255, 255, 0.5) url("/resource/images/wait.gif")
        center no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9000;
}

.dnone {
    display: none;
}

[v-cloak] {
    display: none
}

.iconfont {
    width: 50px !important;
}

.dropdown-menu>li a {
    transition: background-color ease .3s, color ease .3s, border-color ease
        .3s;
}

.dropdown-menu>li a:hover {
    background-color: #3c8dbc;
    color: white;
    border-color: #3c8dbc;
}

.dropdown-toggle {
    transition: background-color ease .3s, color ease .3s, border-color ease
        .3s;
}

.dropdown-toggle:hover {
    background-color: #3c8dbc;
    color: white;
    border-color: #3c8dbc;
}

.open .dropdown-toggle {
    background-color: #3c8dbc !important;
    color: white !important;
    border-color: #3c8dbc !important;
}

.btn-default1 {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.small-box .icon {
    top: -25px !important;
}

.small-box h3 {
    font-size: 30px !important;
    margin: 0 0 10px 0 !important;
    white-space: nowrap !important;
    padding: 0 !important;
    font-weight: normal !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
    .table>thead>tr>td, .table>thead>tr>th {
    line-height: 2.4;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
</style>
<div class="" id="main">
    <section class="content" style="min-width: 760px !important;">
        <div class="">

            <input type="hidden" id="sortSeachModel" name="sortBy[taskNo]" value="false"> <input type="hidden" id="workTaskId" name="id" value="">

            <!-- <div class="box box-solid">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="btn-group" id="auth_delete">
                                
                            </div>
                            
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <form id="mainForm" action="search_driver" method="get"
                                class="nice-validator n-default n-bootstrap"
                                novalidate="novalidate">
                                <div class="input-group">
                                    <input type="text" class="form-control keyword-search criteria"
                                        placeholder="请输入客户名称" value="" id="keyword" name="keyword"
                                        maxlength="50"> <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" id="btnSearch">搜
                                            索</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->


            <div class="box box-solid">
                <div class="box-body no-padding">
                    <div class="table-responsive list">
                        <table class="table table-hover table-striped table-bordered"
                            id="taskTable">
                            <thead>
                                <tr><th></th>
                                    <th>所属区域</th>
                                    <th>姓名</th>
                                    <th id="tour_1" name="taskCustomer">手机号</th>
                                    <!-- <th name="taskCustomerLinkmanPhone">积分</th>
                                    <th name="taskCustomerLinkmanPhone">金币</th> -->
                                    <th name="taskCustomerLinkmanPhone">证件照</th>
                                    <!-- <th name="taskProduct">状态</th> -->
                                    <th name="taskPlanTime">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {if condition="$res eq false"} 
                                {volist name="data" id="vo"}
                                <tr>
                                    <td name="taskCustomer"></td>
                                    <td name="taskCustomer">{$vo.region_id}</td>
                                    <td name="taskCustomer">{$vo.rela_name}</td>
                                    <td name="taskCustomer">{$vo.mobile}</td>
                                    <!-- <td name="taskCustomer">{$vo.integer}</td>
                                    <td name="taskCustomer">{$vo.glod}</td> -->
                                    <td name="taskCustomer"><img src="{$vo.driverlicens_header}" style="width: 100px;height: 100px;"></td>
                                    <td name="taskCustomer"><a href="{:url('aud_list',['did'=>$vo.did])}">详情</a></td>
                                </tr>
                                {/volist} {else}

                                <tr>
                                    <td colspan="19" style="text-align: center;">未找到相关数据</td>
                                </tr>
                                {/if}
                            
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="box-footer ">
                    <div class="col-lg-8 ">
                        <!-- <ul class="pagination pull-right" id="pagination1"></ul> -->

                        {$page}
                    </div>
                </div>

            </div>

            
        </div>
    </section>
</div>
{include file="public/footer" /}

<script>



    ////以下是复选框的选中
    $("#checkSelect").change(function () {
        if ($(this).is(':checked')) {
            $("input[name='checkSelect']").prop("checked", "checked");
        } else {
            $("input[name='checkSelect']").removeAttr("checked");
        }
    });
    $("input[name='checkSelect']").change(function () {
        var flag = true;
        $("input[name='checkSelect']").each(function () {
            if (!$(this).is(':checked')) {
                flag = false;
                return false;
            }
        });
        if (flag) {
            $("#checkSelect").prop("checked", "checked");
        } else {
            $("#checkSelect").removeAttr("checked");
        }
    });
    ////以上是复选框的选中
    
    
    //更改状态
    function aud_driver(did){
        if(confirm('确认操作？')){
           $.post("{:url('Driver/driver_aud')}",{did:did},function(data){
                        if(data == 0){
                            alert('操作失败');
                        }else if(data == 1){
                            location.reload();
                        }else if(data == 3){
                            alert('操作异常');
                        }
                    },'json')
        }
    }
        //批量删除
    function del(){
        //获取选中数据的id值
        obj = document.getElementsByName("checkSelect");
            var mid = [];
            for(k in obj){
                if(obj[k].checked)
                    mid.push(obj[k].value);
            }
        //判断是否有选中数据
        if (mid == '') {
            alert('请先选择');
        }else{
            if(confirm('你确定要删除吗？')){
                $.post("{:url('Clientall/del')}",{id:mid},function(data){
                    if(data == 0){
                        alert('删除失败');
                        location.reload();
                    }else if(data == 1){
                        location.reload();
                    }
                },'json')
            }
        }
        
    }


    //搜索框没内容处理
    $('#btnSearch').click(function(){
        var keyword = $('#keyword').val();
        if (keyword == '') {
            return false;
        }
    })
</script>