{include file="public/head" /}
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="__IMG__/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">意见管理</a>&nbsp;-</span>&nbsp意见反馈
			</div>
		</div>
		<div class="page">
			<!-- opinion 页面样式 -->
			<div class="opinion">
                <form class="layui-form" action="" method="post" style="margin-top:10px;">
                    <div class="layui-form-item" >
                        <div class="layui-input-inline">
                            <select class="layui-input" name="type">
                                <?php if(!empty($type)) $ty = $type; else $ty = ''; ?>
                                {volist name="type_list" id="vo"}
                                    <option value="{$vo.code}" {if condition="$ty neq '' and $ty eq $vo['code']"} selected {/if}>{$vo.type}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <button class="layui-btn" lay-submit=""><i class="layui-icon">&#xe615;</i>搜索</button>
                        </div>
                    </div>
                </form>
				<!-- opinion 表格 显示 -->
				<div class="opShow">
					<table class="layui-table">
						<tr>
							<th class="tdColor tdC" style="text-align: center;"><input type="checkbox" id="checkall" ></th>
							<th class="tdColor" style="text-align: center;">反馈类型</th>
							<th class="tdColor" style="text-align: center;">内容</th>
                            <th class="tdColor" style="text-align: center;">联系方式</th>
							<th class="tdColor" style="text-align: center;">时间</th>
							<th class="tdColor" style="text-align: center;">操作</th>
						</tr>
                        {volist name="feed_list" id="vo"}
    						<tr height="40px">
    							<td><input type="checkbox" name="id[]" value="{$vo.f_id}"></td>
    							<td><?php echo GetFeedType($vo['type'])['type']; ?></td>
    							<td>{$vo.content}</td>
                                <td>{$vo.contact}</td>
    							<td>{$vo.add_time|date="Y-m-d H:i",###}</td>
								<td>
                                    <div class="layui-btn-group">
                                        <!-- <a class="layui-btn" href="addedit_admin?id={$vo['f_id']}">编辑</a> -->
										<button type="button" data-id="{$vo.f_id}" data-method="del" class="layui-btn layui-btn-danger">删除</button>
    							    </div>
								</td>
    						</tr>
                        {/volist}
						<tr>
							<td colspan="15">
								<div class="pagelist">{$page}</div>
							</td>
						</tr>
						<tr>
							<td><button type="button" class="layui-btn layui-btn-danger" data-method="delAll">删除</button></td>
							<td colspan="15"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
    <script type="text/javascript">
        layui.use('form',function(){
            var form = layui.form;
        })
		$('.layui-btn').on('click', function(){
			var othis = $(this), method = othis.data('method');
			active[method] ? active[method].call(this, othis) : '';
		});
		var active = {
			add:function(){
				location.href=$(this).data('url');
			},
			del:function(){
				var data = {};
				data.id = $(this).data('id');
				layer.confirm('确定要删除吗？',{
					btn:['确定','取消']
				},function(){
					$.post('del_feed',data,function(msg){
						msg = JSON.parse(msg);
						if(msg.code == 1){
							layer.msg(msg.msg,{icon:1});
							setTimeout("location.reload()",2000);
						}else{
							layer.msg(msg.msg,{icon:2});
						}
					})
				},function(){
					console.log('error');
				})
			},
			delAll:function(){
				var id = [];
				$.each($("input[name='id[]']"),function(k,v){
					if(v.checked){
						id.push(v.value);
					}
				})
				if(id.length < 1){
					layer.msg('请选择要删除的反馈信息',{icon:2});
					return false;
				}
				var data = {};
				data.id = id;
				layer.confirm('确定要删除吗？',{
					btn:['确定','取消']
				},function(){
					$.post('del_feed',data,function(msg){
						msg = JSON.parse(msg);
						if(msg.code == 1){
							layer.msg(msg.msg,{icon:1});
							setTimeout("location.reload()",2000);
						}else{
							layer.msg(msg.msg,{icon:2});
						}
					})
				},function(){

				})
			}
		}
		$("#checkall").click(function(){
			$.each($("input[name='id[]']"),function(k,v){
				v.checked = !v.checked;
			})
		})
    </script>
{include file="public/footer" /}
