{include file="public/head" /}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>角色权限管理</legend>
</fieldset>
<form method="post" class="layui-form" action="">
    <div class="layui-form-item" style="width:360px;">
        <label class="layui-form-label">角色：</label>
        <div class="layui-input-block">
            <select name="role_id" lay-filter="aihao">
                <option value="">请选择角色</option>
                <?php if(!empty($role_id['role_id'])) $r = $role_id['role_id']; else $r = ''; ?>
                {volist name="role" id="vo"}
                    <option value="{$vo.role_id}" {if condition="$r eq $vo.role_id and $r neq ''"} selected {/if} >{$vo['role_name']}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item" style="width:360px;">
        <label class="layui-form-label">角色描述：</label>
        <div class="layui-input-block">
            <input type="text" name="desc" class="layui-input" value="<?php if(!empty($role_id['role_desc'])) echo $role_id['role_desc']; else echo ''; ?>">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限管理：</label>
        <div class="layui-input-block">
            {volist name="menu" id="vo"}
                <input type="checkbox" name="id[]" value="{$vo.menu_id}" class="parent" lay-filter="test" id="parent"
                <?php
                    if(!empty($role_name)){
                      foreach($role_name as $kk=> $vv){
                          if($vo['menu_id'] == $vv['menu_id']){
                              echo 'checked';
                          }else{
                              echo '';
                          }
                      }
                    }
                    ?>
                > {$vo.menu_name}
                <br/>
                {volist name="vo.children" id="v" key='ke'}
                    <input type="checkbox" name="id[]" value="{$v.menu_id}" class="children" <?php
                        if(deep_in_array($v['menu_id'],$role_name)) echo 'checked';
                        ?>
                        > {$v.menu_name}
                {/volist}
                <br/>
            {/volist}
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit='' lay-filter="test">提交</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    layui.use('form',function(){
        var form = layui.form;
    });

</script>
{include file="public/footer" /}
