{include file="public/head" /}
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="__IMG__/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">公共管理</a>&nbsp;-</span>&nbsp;修改密码
			</div>
		</div>
		<div class="page ">
            <form action="" method="post">
    			<div class="bacen">
    				<div class="bbD">
    					客服电话：<input type="tel" name="tel" class="input3" value="{$tel}" required />
    				</div>
    				<div class="bbD">
    					<p class="bbDP">
    						<button class="btn_ok btn_yes" type="submit">提交</button>
    					</p>
    				</div>
    			</div>
            </form>
		</div>
	</div>
{include file="public/footer" /}
