{include file="public/header" /}
<style>
    body {
        background-color: #eeeeee;
    }

    .content {
        padding: 0 15px !important;
    }

    .small-box {
        margin-bottom: 0px;
        color: #FFFFFF;
    }

    .table-header-sort {
        cursor: pointer;
        color: black !important;
    }

    .tooltip > .tooltip-inner {
        background-color: #e5e5e5;
        color: #0c0c0c
    }

    .tooltip.top .tooltip-arrow {
        border-top-color: #e5e5e5;
    }

    #wait {
        background: rgba(255, 255, 255, 0.5) url("/resource/images/wait.gif") center no-repeat;

        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 9000;
    }

    .dnone {
        display: none;
    }

    [v-cloak] {
        display: none
    }

    .iconfont {
        width: 50px !important;
    }

    .dropdown-menu > li a {
        transition: background-color ease .3s,
        color ease .3s,
        border-color ease .3s;
    }

    .dropdown-menu > li a:hover {
        background-color: #3c8dbc;
        color: white;
        border-color: #3c8dbc;
    }

    .dropdown-toggle {
        transition: background-color ease .3s,
        color ease .3s,
        border-color ease .3s;
    }

    .dropdown-toggle:hover {
        background-color: #3c8dbc;
        color: white;
        border-color: #3c8dbc;
    }

    .open .dropdown-toggle {
        background-color: #3c8dbc !important;
        color: white !important;
        border-color: #3c8dbc !important;
    }

    .btn-default1 {
        background-color: #f4f4f4;
        color: #444;
        border-color: #ddd;
    }

    .small-box .icon {
        top: -25px !important;
    }

    .small-box h3 {
        font-size: 30px !important;
        margin: 0 0 10px 0 !important;
        white-space: nowrap !important;
        padding: 0 !important;
        font-weight: normal !important;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        line-height: 2.4;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>
<div id="case">
    <section class="content" style="min-width: 760px !important;">
        <div class="">
            <form id="mainForm" action="" method="post" class="nice-validator n-default n-bootstrap"
                  novalidate="novalidate">
                <input type="hidden" id="sortSeachModel" name="sortBy[taskNo]" value="false">
                <input type="hidden" id="workTaskId" name="id" value="">
                <!--搜索条件-->
                <div class="col-md-3">
                    <div class="box box-solid">
                        <div class="box-header with-border" id="accordion">
                            <h4 class="box-title">角色</h4>
                        </div>
                        <div class="box-body no-padding collapse in" id="collapseOne" aria-expanded="true" style="">
                            <ul id="wikiTypeUL" class="nav nav-pills nav-stacked">
                                {volist name="info.rolelist" id="vo"}
                                <li onclick="getMenu({$vo.rid});">
                                    <a href="javascript:;" data-type-name="{$vo.rname}">
                                        <i class="fa fa-file-text-o"></i> <span name="typeName">{$vo.rname}</span>
                                    </a>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                    <div class="box-body" style="background: #FFFFFF;">

                        <div class="btn-group" id="auth_delete">
                            <a class="btn btn-primary btn-sm" onclick="newFile('case','new')"><i
                                    class="glyphicon glyphicon-trash"></i>&nbsp;&nbsp;添加</a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" onclick="delrole()"><i
                                    class="glyphicon glyphicon-trash"></i>&nbsp;&nbsp;删除</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-9">
                    <div class="box-body" style="background: #FFFFFF;">
                        角色权限
                    </div>
                    <div class="box-body" style="background: #FFFFFF;">
                        <input type="checkbox" id="checkall"/> 所有权限
                        <div class="pull-right">
                            <!--<div class="btn-group">-->
                                <!--<a class="btn btn-default btn-sm" onclick="deleteWorkTask()"><i-->
                                        <!--class="glyphicon glyphicon-trash"></i>&nbsp;&nbsp;取消</a>-->
                            <!--</div>-->
                            <div class="btn-group" id="subpower">
                                <a class="btn btn-primary btn-sm" onclick="sub()"><i
                                        class="fa fa-save"></i>&nbsp;&nbsp;确定</a>
                            </div>
                        </div>
                    </div>
                    <div class="box box-solid">
                        <div class="box-body">
                            <div class="box box-solid">
                                <div class="box-body no-padding">
                                    <div class="table-responsive list">
                                        <table class="table table-hover table-striped table-bordered text-center"
                                               id="taskTable" style="margin-bottom: 0px">
                                            <thead class="bg-blue2" style="color: #FFFFFF;">
                                                <tr>
                                                    {volist name="info.list" id="vo"}
                                                    <th style="text-align: left;">{$vo.mname} <input type="checkbox" value="{$vo.mid}" data-id="{$key}" class="checkchild" name="check"/>
                                                    </th>
                                                    {/volist}
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="editpower">
                                                {volist name="info.list" id="vo" key="k"}
                                                <td style="text-align: left;">
                                                    {volist name="vo.child" id="v"}
                                                    <div> {$v.mname}
                                                        {if $v.type eq 3}
                                                            <input type="radio" value="{$v.mid}" name="check"/>
                                                        {else /}
                                                            <input type="checkbox" value="{$v.mid}" name="check"/>
                                                        {/if}
                                                    </div>
                                                    {/volist}
                                                </td>
                                                {/volist}
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<section class="content" id="new" style="display: none;">
    <form id="form1" method="post" class="form-horizontal nice-validator n-default n-bootstrap"
          novalidate="novalidate">
        <div class="box box-solid">
            <div class="box-body">
                <a class="btn btn-default btn-close" onclick="back('case','new')">
                    <li class="fa fa-reply"></li>
                    &nbsp;&nbsp;返回</a>
                <button type="button" class="btn btn-primary btn-close" id="wiki-sub" onclick="sub2()">
                    <li class="fa fa-save"></li>
                    &nbsp;&nbsp;提交
                </button>
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-header with-border"><span style="font-weight: bold">基本信息</span></div>
            <div class="box-body">
                <div class="row">
                    
                    <div class="col-md-12 form-group">
                        <label class="col-md-2  col-sm-3 control-label">角色名称：</label>
                        <div class="col-md-8 col-sm-7 col-padding-custom">
                            <input class="form-control" type="text" value="" name="rname"/>
                        </div>
                        <div class="col-sm-2 validation-tip"></div>
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="col-md-2  col-sm-3 control-label">权限选择：</label>
                        <div class="col-md-8">
                            <div class="box-body" style="background: #FFFFFF;">
                                <input type="checkbox" id="checkall2"/> 所有权限
                            </div>
                            <div class="box box-solid">
                                <div class="box box-solid">
                                    <div class="box-body no-padding">
                                        <div class="table-responsive list">
                                            <table class="table table-hover table-striped table-bordered text-center" style="margin-bottom: 0px">
                                                <thead class="bg-blue2" style="color: #FFFFFF;">
                                                    <tr>
                                                        {volist name="info.list" id="vo"}
                                                            <th style="text-align: left;">{$vo.mname}
                                                                <input type="checkbox" name="rid[]" value="{$vo.mid}">
                                                            </th>
                                                        {/volist}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    {volist name="info.list" id="vo"}
                                                    <td style="text-align: left;">
                                                        {volist name="vo.child" id="v"}
                                                        <div> {$v.mname}
                                                            {if $v.type eq 3}
                                                                <input type="radio" name="rid[]"  value="{$v.mid}">
                                                            {else /}
                                                                <input type="checkbox" name="rid[]" value="{$v.mid}">
                                                            {/if}
                                                        </div>
                                                        {/volist}
                                                    </td>
                                                    {/volist}
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 validation-tip"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
{include file="public/header" /}
<link href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.css" rel="stylesheet"/>
<script src="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/moment.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.js"></script>
<script>
    var roleid = 0;
    var getMenu = function (rid) {
        roleid = rid;
        $.get('getMenu?rid=' + rid, function (res) {
            if(res.gid == 0){
                $('#subpower').hide();
            }else{
                $('#subpower').show();
            }
            $("input[name='check']").removeAttr('checked');
            $.each(res.menu, function (k, v) {
                $.each($("input[name='check']"), function (key, val) {
                    if ($(val).val() == v) {
                        $("input[name='check']").eq(key).prop('checked', 'checked');
                    }
                })
            })
        })
    }
    var sub = function () {
        var str = '';
        $.each($("input[name='check']"), function (k, v) {
            if (v.checked == true) {
                str += $(v).val() + ','
            }
        })
        str = str.substr(0, str.length - 1);
        var data = {};
        data.mid = str;
        data.rid = roleid;
        $.post('setPower', data, function (res) {
            alert(res.msg);
        })
    }
    var delrole = function () {
        $.get('DelRole?rid=' + roleid, function (res) {
            alert(res.msg);
            location.reload();
        })
    }
    /**
    * 新增
    */
    var sub2 = function () {
        var form = $("#form1").serialize();
        console.log(form);
        $.post('AddRole', form, function (res) {
            alert(res.msg);
            location.reload();
        })
    }
    //以下是复选框的选中
    $("#checkall").change(function () {
        if ($(this).is(':checked')) {
            $("input[name='check']").prop("checked", "checked");
        } else {
            $("input[name='check']").removeAttr("checked");
        }
    });
    $("input[name='check']").change(function () {
        var flag = true;
        $("input[name='check']").each(function () {
            if (!$(this).is(':checked')) {
                flag = false;
                return false;
            }
        });
        if (flag) {
            $("#checkall").attr("checked", "checked");
        } else {
            $("#checkall").removeAttr("checked");
        }
    });
    $("#checkall2").change(function () {
        if ($(this).is(':checked')) {
            $("input[name='rid[]']").prop("checked", "checked");
        } else {
            $("input[name='rid[]']").removeAttr("checked");
        }
    });
    $("input[name='rid[]']").change(function () {
        var flag = true;
        $("input[name='rid[]']").each(function () {
            if (!$(this).is(':checked')) {
                flag = false;
                return false;
            }
        });
        if (flag) {
            $("#checkall2").attr("checked", "checked");
        } else {
            $("#checkall2").removeAttr("checked");
        }
    });
    //以上是复选框的选中
    //分别是三个筛选按钮
    $('#documentDate .filterToBe').click(function () {
        if (!$(this).hasClass('filterActive')) {
            $('#documentDate .filterToBe').removeClass('filterActive');
            $(this).addClass('filterActive');
            var time = timeFilter($(this).text(), 'createTime1');
            log(time.startTime + time.endTime);
        }
    })
    $('#receiptDate .filterToBe').click(function () {
        if (!$(this).hasClass('filterActive')) {
            $('#receiptDate .filterToBe').removeClass('filterActive');
            $(this).addClass('filterActive');
            var time = timeFilter($(this).text(), 'createTime2');
            log(time.startTime + time.endTime);
        }
    })
    $('#settlementDate .filterToBe').click(function () {
        if (!$(this).hasClass('filterActive')) {
            $('#settlementDate .filterToBe').removeClass('filterActive');
            $(this).addClass('filterActive');
            var num = shortFilter($(this).text());
            log(num);
        }
    })
    //显示新建页面,隐藏文件库页面
    function newFile(id1, id2) {
        $('#' + id1).hide();
        $('#' + id2).show();
    }
    //隐藏新建页面,显示文件库页面
    function back(id1, id2) {
        $('#' + id1).show();
        $('#' + id2).hide();
        // $("input,textarea").val("");
        // UE.getEditor('container').setContent('', false);
        // $("select").val(option[0]);
        // $("input:radio,input:checkbox").removeAttr("checked");
    }
    //点击类别内小分类
    $("#wikiTypeUL li").click(function () {
        if ($(this).attr("class") != "active") {
            $("#wikiTypeUL li").removeClass("active");
            $(this).addClass("active");
        }
    });
    $('.checkchild').on('click',function () {
        $('.editpower td').eq(index).find('input').removeAttr('checked');
        var index = $(this).data('id');
        $.each($('.editpower td').eq(index).find('input:checkbox'),function (k,v) {
            if(v.checked == true){
                v.checked = false;
            }else{
                v.checked = true;
            }
        })
    })
</script>