<script src="__JS__/layui/layui.js"></script>
<link rel="stylesheet" href="__JS__/layui/css/layui.css" media="all">
<script src="__JS__/jquery.js"></script>
<link rel="stylesheet" href="__CSS__/main.css" media="all" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="__CSS__/font_eolqem241z66flxr.css" media="all" />
<div style="padding:15px;">
	<div class="panel_box row">
		<div class="panel col remind">
			<a href="javascript:;" data-url="page/message/message.html">
				<div class="panel_icon">
					<i class="layui-icon" data-icon="&#xe60b;">&#xe60b;</i>
				</div>
				<div class="panel_word newMessage">
					<span>{$info.remind}</span>
					<cite>待处理事项</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="javascript:;" data-url="page/user/allUsers.html">
				<div class="panel_icon" style="background-color:#FF5722;">
					<i class="iconfont icon-dongtaifensishu" data-icon="icon-dongtaifensishu"></i>
				</div>
				<div class="panel_word userAll">
					<span>{$info.today_user}</span>
					<cite>今日新增会员</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="javascript:;" data-url="page/user/allUsers.html">
				<div class="panel_icon" style="background-color:#009688;">
					<i class="layui-icon" data-icon="&#xe613;">&#xe613;</i>
				</div>
				<div class="panel_word userAll">
					<span>{$info.ucount}</span>
					<cite>会员数量</cite>
				</div>
			</a>
		</div>
		<!-- <div class="panel col">
			<a href="javascript:;" data-url="page/img/images.html">
				<div class="panel_icon" style="background-color:#5FB878;">
					<i class="layui-icon" data-icon="&#xe64a;">&#xe64a;</i>
				</div>
				<div class="panel_word imgAll">
					<span></span>
					<cite>图片总数</cite>
				</div>
			</a>
		</div> -->
		<div class="panel col">
			<a href="javascript:;" data-url="page/news/newsList.html">
				<div class="panel_icon" style="background-color:#F7B824;">
					<i class="fa fa-shopping-bag"></i>
				</div>
				<div class="panel_word waitNews">
					<span>{$info.gcount}</span>
					<cite>家政人员数量</cite>
				</div>
			</a>
		</div>
		<div class="panel col max_panel">
			<a href="javascript:;" data-url="page/news/newsList.html">
				<div class="panel_icon" style="background-color:#2F4056;">
					<i class="fa fa-shopping-basket"></i>
				</div>
				<div class="panel_word allNews">
					<span>{$info.ocount}</span>
					<em>订单数量</em>
					<cite>文章列表</cite>
				</div>
			</a>
		</div>
	</div>
	<!-- <blockquote class="layui-elem-quote">
        <font color="red">注：邀请码绑定用户手机号 </font><button class="layui-btn layui-btn-normal" type="button" data-method="share">分享邀请码</button>
	</blockquote> -->
	<div class="row">
		<div class="sysNotice col">
			<blockquote class="layui-elem-quote title">待处理订单</blockquote>
			<!-- <div class="layui-elem-quote layui-quote-nm"> -->
				<table class="layui-table">
					<tr>
						<td>订单编号</td>
						<td>下单时间</td>
						<td>操作</td>
					</tr>
						<tr>
							<td></td>
							<td></td>
							<td>
								<a href="{:url('order/order_list')}" class="layui-btn">前去处理</a>
							</td>
						</tr>
				</table>
			<!-- </div> -->
		</div>
		<div class="sysNotice col">
			<blockquote class="layui-elem-quote title">系统基本参数</blockquote>
			<table class="layui-table">
				<colgroup>
					<col width="150">
					<col>
				</colgroup>
				<tbody>
					<tr>
						<td>Web服务器</td>
						<td class="version">{$info.ser}</td>
					</tr>
					<!-- <tr>
						<td>开发作者</td>
						<td class="author"></td>
					</tr> -->
					<!-- <tr>
						<td>网站首页</td>
						<td class="homePage"></td>
					</tr> -->
					<tr>
						<td>PHP版本</td>
						<td class="server">{$info.php_ver}</td>
					</tr>
					<tr>
						<td>MySQL版本</td>
						<td class="dataBase">{$info.mysql_ver}</td>
					</tr>
					<tr>
						<td>最大上传限制</td>
						<td class="maxUpload">{$info.max_upload}</td>
					</tr>
					<tr>
						<td>当前用户权限</td>
						<td class="userRights">{$info.role}</td>
					</tr>
				</tbody>
			</table>
			<!-- <blockquote class="layui-elem-quote title">最新文章<i class="iconfont icon-new1"></i></blockquote> -->
			<!-- <table class="layui-table" lay-skin="line">
				<colgroup>
					<col>
					<col width="110">
				</colgroup>
				<tbody class="hot_news">
                    <tr>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                </tbody>
			</table> -->
		</div>
	</div>
</div>
<input type="hidden" id="admin_id" value="{$Think.session.admin['admin_id']}">
<div id="txsx">

</div>
<script type="text/javascript">layui.use('layer',function(){
	var layer = layui.layer;
})
    $('.layui-btn').on('click', function(){
        var othis = $(this), method = othis.data('method');
        active[method] ? active[method].call(this, othis) : '';
    });
	$(".remind").on('click',function(){
		var data = {};
		data.admin_id = $("#admin_id").val();
		$.post('tixing',data,function(msg){
		   $("#txsx").html(msg);
           console.log(msg);
		})
		  var type = 'rb';
		  layer.open({
			type: 1,
			title:"提醒事项",
			area:['250px','200px'],
			offset: type,
			content: $("#txsx"),
			btnAlign: 'c',
			btn:['确定'],
			shade: 0 ,
			yes: function(){
				$("#txsx").html('');
			  layer.closeAll();
			}
		  });
	})
    var active = {
        share:function(){
            layer.open({
                type:2,
                title:'分享邀请码',
                closeBtn:1,
                shadeClose:true,
                area:['600px','400px'],
                content:'/admin/index/share'
            })
        },
		see:function(){
			var id = $(this).data('id');
			layer.open({
				type:2,
				title:"广告详情",
				area:['800px','600px'],
				closeBtn:1,
				shadeClose:true,
				content:'/admin/ad/ad_info?id='+id
			})
		}
    }
</script>
