<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博全云</title>
    <script src="_ago/lib/jquery-2.1.4.js"></script>
</head>
<body>
    博全云邀请你进入{$ginfo->gname}
    <button onclick="agree()">同意</button>
    <button onclick="refuse()">拒绝</button>
    <script>
        var agree = function () {
            var data = {};
            data = {$uinfo};
            data.type = 1;
            $.post('accept',data,function(res) {
                alert(res.msg);
                if(res.code == 1){
                    location.reload();
                }
            })
        }
        var refuse = function(){
            
            var data = {};
            data = {$uinfo};
            data.type = 2;
            $.post('accept',data,function(res) {
                alert(res.msg);
                if(res.code == 1){
                    location.reload();
                }
            })
        }
    </script>
</body>
</html>