{include file="public/header" /}
<script src="__JS__/ueditor/ueditor.config.js"></script>
<script src="__JS__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__JS__/ueditor/lang/zh-cn/zh-cn.js"></script>
<body style="padding:10px;">

    <blockquote class="layui-elem-quote layui-text">
        网站设置
    </blockquote>

    <form class="layui-form" action="" method="post" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">网站标题：</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="title" value="{$info.title}" lay-verify="required" required>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">公司名称：</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="com_name" value="{$info.com_name}" lay-verify="required" required>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">公司电话：</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="com_phone" value="{$info.com_phone}" lay-verify="required|phone" required>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">邮箱：</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="com_email" value="{$info.com_email}" lay-verify="email" required>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">logo：</label>
                <div class="layui-input-block">
                    <input type="file" id="picPath" name="logo" onchange="PreviewImage('Preview',this,100,100,'picPath');" />
                    <div id="Preview" style=""><img src="{$info.logo}"  width="250" height="100" alt=""></div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">二维码：</label>
                <div class="layui-input-block">
                    <input type="file" id="picPath2" name="qrcode" onchange="PreviewImage('Preview2',this,100,100,'picPath2');" />
                    <div id="Preview2" style=""><img src="{$info.qrcode}"  width="100" height="100" alt=""> </div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">公司图片：</label>
                <div class="layui-input-block">
                    <input type="file" id="picPath3" name="com_img" onchange="PreviewImage('Preview3',this,100,100,'picPath3');" />
                    <div id="Preview3" style=""><img src="{$info.com_img}" width="100" height="100"  alt=""> </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">销售电话：</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="sale_phone" value="{$info.sale_phone}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">客服电话：</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="server_phone" value="{$info.server_phone}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">全国免费服务热线：</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="free_server_phone" value="{$info.free_server_phone}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">监督热线：</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="control_phone" value="{$info.control_phone}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备案信息：</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="free" value="{$info.free}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">公司简介：</label>
            <div class="layui-input-block">
                <textarea name="summary" id="editor" style="width:100%;height:400px;">{$info.summary}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit=""> 提交</button>
            </div>
        </div>
    </form>
    <script>
        var ue = UE.getEditor('editor');
        layui.use('form',function(){
            var form = layui.form;
        })
function getObjectURL(file) {
    var url = null;
    if (window.createObjectURL != undefined) { // basic
        url = window.createObjectURL(file);
    } else if (window.URL != undefined) { // mozilla(firefox)
        url = window.URL.createObjectURL(file);
    } else if (window.webkitURL != undefined) { // webkit or chrome
        url = window.webkitURL.createObjectURL(file);
    }
    return url;
}

function  checkPic(path)  {         
    var  picPath  =  document.getElementById(path).value;             
    var  type  =  picPath.substring(picPath.lastIndexOf(".")  +  1,  picPath.length).toLowerCase();
    if  (type !== "jpg" && type  !==  "bmp"  &&  type  !==  "gif"  &&  type  !==  "png")  {                 
        alert("请上传正确的图片格式"); 
        return  false;             
    }             
    return  true;         
}

function PreviewImage(divImage, upload, width, height ,path) {
    if (checkPic(path)) {
        try {
        //console.log(upload.files[0]);
            var imgPath = getObjectURL(upload.files[0]);
            document.getElementById(divImage).innerHTML = "<img id='imgPreview' src='" + imgPath + "' width='" + width + "' height='" + height + "'/>";
        } catch (e) {
            alert("无法预览图片");
        }
    }
}
    </script>

{include file="public/footer" /}
