{include file="public/header" /}

<link
	href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.css"
	rel="stylesheet" />
<script
	src="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/moment.min.js"></script>
<script
	src="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.js"></script>
<script src="_js/bootstrap-datetimepicker.min.js"></script>
<script src="_js/bootstrap-datetimepicker.zh-CN.js"></script>

<link rel="stylesheet" href="_css/bootstrap-datetimepicker.min.css">

<link rel="stylesheet" href="_kind/themes/default/default.css" />
<script src="_kind/kindeditor.js"></script>
<script src="_kind/lang/zh_CN.js"></script>
<!--
必须引入jquery,后面的循环和赋值需要用到
1.循环上传按钮、
2.每个上传按钮的点击事件
建议点击按钮的class有upload_img
注意：点击按钮之前要用一个input来存放文件的路径
	input之前需要一个img来显示图片
-->

<script>
function readys(){
    KindEditor.ready(function(K) {
        var editor = K.editor({
            allowFileManager : true
        });
        $(".upload_img").each(function(k,v){ //循环上传按钮、
            $(v).click(function(){ //每个上传按钮的点击事件
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl:$(v).prev().val(),
                        clickFn : function(url, title, width, height, border, align) {
                            $(v).prev().val(url); //为他之前的input赋值
                            $(v).prev().prev().attr("src",url); //为他之前的之前的img赋值
                            editor.hideDialog();
                        }
                    });
                });
            });
        })
    });
}
readys();
</script>
<style>
body {
	background-color: #eeeeee;
}

.content {
	padding: 0 15px !important;
}

.small-box {
	margin-bottom: 0px;
	color: #FFFFFF;
}

.table-header-sort {
	cursor: pointer;
	color: black !important;
}

.tooltip>.tooltip-inner {
	background-color: #e5e5e5;
	color: #0c0c0c
}

.tooltip.top .tooltip-arrow {
	border-top-color: #e5e5e5;
}

#wait {
	background: rgba(255, 255, 255, 0.5) url("/resource/images/wait.gif")
		center no-repeat;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9000;
}

.dnone {
	display: none;
}

[v-cloak] {
	display: none
}

.iconfont {
	width: 50px !important;
}

.dropdown-menu>li a {
	transition: background-color ease .3s, color ease .3s, border-color ease
		.3s;
}

.dropdown-menu>li a:hover {
	background-color: #3c8dbc;
	color: white;
	border-color: #3c8dbc;
}

.dropdown-toggle {
	transition: background-color ease .3s, color ease .3s, border-color ease
		.3s;
}

.dropdown-toggle:hover {
	background-color: #3c8dbc;
	color: white;
	border-color: #3c8dbc;
}

.open .dropdown-toggle {
	background-color: #3c8dbc !important;
	color: white !important;
	border-color: #3c8dbc !important;
}

.btn-default1 {
	background-color: #f4f4f4;
	color: #444;
	border-color: #ddd;
}

.small-box .icon {
	top: -25px !important;
}

.small-box h3 {
	font-size: 30px !important;
	margin: 0 0 10px 0 !important;
	white-space: nowrap !important;
	padding: 0 !important;
	font-weight: normal !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	line-height: 2.4;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
</style>
<div class="" id="main">
	<section class="content" style="min-width: 760px !important;">
		<div class="">
		
			<form id="mainForm" action="goods_edit" method="post"  onsubmit="return check_from();"
				class="nice-validator n-default n-bootstrap" novalidate="novalidate">
				<input type="hidden" id="id" name="id" value="{$se['id']}">

				<div class="box box-solid">
					<div class="box-body">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<button type="submit" class="btn btn-primary"
									id="customerFrameSave">保存</button>
								<div class="btn-group">
									<a href="javascript:history.go(-1)" class="btn btn-default">取消</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="box box-solid">
					<div class="box-header with-border">
						<span style="font-weight: bold">优惠券基本信息</span>
					</div>

					<div class="box-body">
						<div class="modal-body" style="height: 500px;">
									<div class="container-fluid">

										

										<div class="form-group col-md-12">
											<label for="name" class="col-md-2 col-sm-3 control-label">名称<span
												class="text-red" title="必填">*</span>：
											</label>
											<div class="col-md-8 col-sm-7">
												<input type="text" class="form-control"
													placeholder="[最多50字]" id="name" name="name" maxlength="50" value="{$se['name']}"
													aria-required="true">
											</div>
											<div class="col-sm-2 validation-tip"></div>
										</div>
										<div class="form-group col-md-12">
											<label for="name" class="col-md-2 col-sm-3 control-label">价格<span
												class="text-red" title="必填">*</span>：
											</label>
											<div class="col-md-8 col-sm-7">
												<input type="text" class="form-control"
													placeholder="[最多50字]" id="name" name="price" maxlength="50" value="{$se['price']}"
													aria-required="true">
											</div>
											<div class="col-sm-2 validation-tip"></div>
										</div>
										<div class="form-group col-md-12">
											<label for="name" class="col-md-2 col-sm-3 control-label">库存<span
												class="text-red" title="必填"></span>：
											</label>
											<div class="col-md-8 col-sm-7">
												<input type="text" class="form-control"
													placeholder="[只允许数字]"  name="count" value="{$se['count']}"
													maxlength="50" aria-required="true" onkeyup="this.value=this.value.replace(/\D/g,'')">
											</div>
											<div class="col-sm-2 validation-tip"></div>
										</div>
										<div class="form-group col-md-12">
											<label for="name" class="col-md-2 col-sm-3 control-label">图片<span
												class="text-red" title="必填">*</span>：
											</label>
											<div class="col-md-8 col-sm-7">
												<img src="{$se['img']}" style="max-width:100px;">
												<input type="hidden" name="img" value="{$se['img']}" /> 
												<input type="button" class="upload_img" value="选择图片" />
											</div>
											<div class="col-sm-2 validation-tip"></div>
										</div>

										<div class="form-group col-md-12">
											<label for="name" class="col-md-2 col-sm-3 control-label">描述<span
												class="text-red" title="必填">*</span>：
											</label>
											<div class="col-md-8 col-sm-7">
												<textarea class="form-control" id="content" name="content">{$se['content']}</textarea>
											</div>
											<div class="col-sm-2 validation-tip"></div>
										</div>




										


									</div>
							</div>
						
					</div>
				</div>
		</div>

		</form>
</div>
</section>
</div>
{include file="public/footer" /}
<script>
//js验证表单提交方法
function check_from(){
	var price = $('input[name="price"]').val();
	var name = $('input[name="name"]').val();
	var count = $('input[name="count"]').val(); 

	
	if($.trim(name) == ''){
		alert('请填写名称');
		return false;
	}
	if($.trim(price) == ''){
		alert('请填写价格');
		return false;
	}
	if($.trim(count) == ''){
		alert('请填写库存');
		return false;
	}
} 


$(function () {
        $('#createTime1').datetimepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            minView: 0,
            minuteStep: 5,
            todayBtn: true,
            language: 'zh-CN'
        });
        $('#createTime2').datetimepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            minView: 0,
            minuteStep: 1,
            todayBtn: true,
            language: 'zh-CN'
        });
    })
</script>