{include file="public/header" /}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>{$title}</legend>
</fieldset>
<form class="layui-form" action="" method="post" enctype="multipart/form-data">
    <div class="layui-form-item">
        <label class="layui-form-label">名称：</label>
        <div class="layui-input-inline">
            <input type="text" name="pos_name" value="<?php if(!empty($info['pos_name'])) echo $info['pos_name'];?>" lay-verify="required" class="layui-input" required>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述：</label>
        <div class="layui-input-inline">
            <input type="text" name="pos_desc" value="<?php if(!empty($info['pos_desc'])) echo $info['pos_desc'];?>" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="">提交</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    layui.use('form',function(){
        var form = layui.form;
    })
</script>
{include file="public/footer" /}
