

<div class="textCenter overflowAuto phoneBg" style="margin-top: 40px;">
    <div class="layer overflowAuto">
        <div class="pullLeft phoneMargin">
            <div class="">
                <img class="marginTop20" src="__AGO__/image/首页/客服监督页尾/椭圆571拷贝.png" alt=""/>
            </div>
            <div class="font18 white marginTop10">
                全国销售电话
            </div>
            <div class="font18 white marginTop10">
                {$info.company.sale_phone}
            </div>
        </div>
        <div class="pullLeft phoneMargin">
            <div class="">
                <img class="marginTop20" src="__AGO__/image/首页/客服监督页尾/椭圆571拷贝2.png" alt=""/>
            </div>
            <div class="font18 white marginTop10">
                全国服务电话
            </div>
            <div class="font18 white marginTop10">
                {$info.company.server_phone}
            </div>
        </div>
        <div class="pullLeft phoneMargin">
            <div class="">
                <img class="marginTop20" src="__AGO__/image/首页/客服监督页尾/椭圆571.png" alt=""/>
            </div>
            <div class="font18 white marginTop10">
                全国监督电话
            </div>
            <div class="font18 white marginTop10">
                {$info.company.control_phone}
            </div>
        </div>
    </div>
</div>
<div class="overflowAuto footerBg">
    <div class="layer overflowAuto">
        <div class="pullLeft" style="width: 700px;">
            <p class="" style="padding-top: 66px;padding-bottom: 30px;border-bottom: 1px solid #adadad;">
                <span><a href="index.html">首页</a></span>｜
                <span><a href="software.html">体验精品</a></span>｜
                <span><a href="signsingle.html">签单动态</a></span>｜
                <span><a href="industry.html">深耕行业</a></span>｜
                <span><a href="thanks.html">感谢客户</a></span>｜
                <span><a href="service.html">真诚服务</a></span>｜
                <span><a href="enterprise.html">良心企业</a></span>
            </p>
            <p class="font14" style="padding-top: 30px;">
                宁波神易大软件有限公司 版权所有 {$info.company.free}
            </p>
            <p class="font14" style="padding-top: 10px;">
                <img src="__AGO__/image/首页/客服监督页尾/1-1企业网站_09.png" alt="">
                <img src="__AGO__/image/首页/客服监督页尾/1-1企业网站_06.png" alt="">
                <img src="__AGO__/image/首页/客服监督页尾/1-1企业网站_03.png" alt="">
            </p>
        </div>
        <div class="pullRight textCenter QRcode">
            <img src="{$info.company.qrcode}" alt="">
            <p>扫一扫关注</p>
        </div>
    </div>
</div>
</div>
<div id="shape">
<div class="shapeColor">
    <div class="shapeFly">
    </div>
</div>
</div>

</body>
</html>
