<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="shortcut icon" href="http://www.zbintel.com.cn/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="http://www.zbintel.com.cn/favicon.ico" type="image/vnd.microsoft.icon">
    <meta name="keywords" content="erp,ERP系统,ERP软件,erp系统软件,erp管理系统,移动erp,CRM系统,CRM软件,客户管理软件,进销存系统,项目管理系统,企业管理软件,智邦国际">
    <meta name="description" id="descriptionMeta"
          content="智邦国际-国内领先的erp企业管理软件开发商和服务提供商,包括ERP系统、ERP软件、CRM系统、进销存系统、项目管理软件、销售管理软件、客户管理系统等，是中国ERP企业管理软件的领导品牌！咨询电话：400-650-8060">
    <title>{$title}</title>
    <link href="__AGO__/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="__AGO__/css/swiper.min.css" rel="stylesheet" type="text/css"/>
    <script src="__AGO__/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="__AGO__/js/rocketTop.js" type="text/javascript"></script>
    <link href="__AGO__/css/rocketTop.css" rel="stylesheet" type="text/css"/>
</head>

<body>
