{include file="public/header" /}
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">网站管理</a>&nbsp;-</span>&nbsp;权限管理
			</div>
		</div>
		<div class="page">
			<button type="button" style="float:right;" class="layui-btn layui-btn-normal" data-method="add" data-url="{:url('admin/add_role')}"><i class="layui-icon">&#xe654;</i>添加角色</button>
			<!-- opinion 页面样式 -->
			<div class="opinion">
				<!-- opinion 表格 显示 -->
				<div class="opShow">
					<table class="layui-table">
						<tr>
							<td class="tdColor tdC" style="width:100"><input type="checkbox" id="checkall"></td>
							<td class="tdColor">角色名称</td>
							<td width="760px" class="tdColor">描述</td>
							<td width="200px" class="tdColor">操作</td>
						</tr>
						{volist name="role_list" id="vo"}
							<tr height="40px">
								<td><input type="checkbox" name="id[]" value="{$vo.role_id}"></td>
								<td>{$vo.role_name}</td>
								<td>{$vo.role_desc}</td>
								<td>
									<div class="layui-btn-group">
										<a type="button" class="layui-btn layui-btn-normal"  href="edit_role?id={$vo['role_id']}">查看权限</a>
										<button type="button" class="layui-btn layui-btn-danger" data-method='del' data-id="{$vo.role_id}">删除</button>
									</div>
								</td>
							</tr>
						{/volist}
						<tr>
							<td colspan="15">
								<div class="pagelist">{$page}</div>
							</td>
						</tr>
						<tr>
							<td><button type="button" class="layui-btn layui-btn-danger" data-method="delAll">删除</button></td>
							<td colspan="15"></td>
						</tr>
					</table>
				</div>
				<!-- opinion 表格 显示 end-->
			</div>
			<!-- 页面样式end -->
		</div>
	</div>
	<script type="text/javascript">
	$('.layui-btn').on('click', function(){
		var othis = $(this), method = othis.data('method');
		active[method] ? active[method].call(this, othis) : '';
	});
	var active = {
		add:function(){
			location.href=$(this).data('url');
		},
		del:function(){
			var data = {};
			data.id = $(this).data('id');
			layer.confirm('确定要删除吗？',{
				btn:['确定','取消']
			},function(){
				console.log(data);
				$.post('del_role',data,function(msg){
					// console.log(msg);
					msg = JSON.parse(msg);
					if(msg.code == 1){
						layer.msg(msg.msg,{icon:1});
						setTimeout("location.reload()",2000);
					}else{
						layer.msg(msg.msg,{icon:2});
					}
				})
			},function(){
				console.log('error');
			})
		},
		delAll:function(){
			var id = [];
			$.each($("input[name='id[]']"),function(k,v){
				if(v.checked){
					id.push(v.value);
				}
			})
			if(id.length < 1){
				layer.msg('请选择要删除的角色',{icon:2});
				return false;
			}
			var data = {};
			data.id = id;
			layer.confirm('确定要删除吗？',{
				btn:['确定','取消']
			},function(){
				$.post('del_role',data,function(msg){
					msg = JSON.parse(msg);
					if(msg.code == 1){
						layer.msg(msg.msg,{icon:1});
						setTimeout("location.reload()",2000);
					}else{
						layer.msg(msg.msg,{icon:2});
					}
				})
			},function(){

			})
		}
	}
	$("#checkall").click(function(){
		$.each($("input[name='id[]']"),function(k,v){
			v.checked = !v.checked;
		})
	})
	</script>
	{include file="public/footer" /}
<!--
本代码由热心网友上传，js代码网收集并编辑整理;
请尊重他人劳动成果;
转载请保留js代码链接 - www.jsdaima.com
-->
