{include file="public/header" /}

<link
	href="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.css"
	rel="stylesheet" />
<script
	src="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/moment.min.js"></script>
<script
	src="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
body {
	background-color: #eeeeee;
}

.content {
	padding: 0 15px !important;
}

.small-box {
	margin-bottom: 0px;
	color: #FFFFFF;
}

.table-header-sort {
	cursor: pointer;
	color: black !important;
}

.tooltip>.tooltip-inner {
	background-color: #e5e5e5;
	color: #0c0c0c
}

.tooltip.top .tooltip-arrow {
	border-top-color: #e5e5e5;
}

#wait {
	background: rgba(255, 255, 255, 0.5) url("/resource/images/wait.gif")
		center no-repeat;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9000;
}

.dnone {
	display: none;
}

[v-cloak] {
	display: none
}

.iconfont {
	width: 50px !important;
}

.dropdown-menu>li a {
	transition: background-color ease .3s, color ease .3s, border-color ease
		.3s;
}

.dropdown-menu>li a:hover {
	background-color: #3c8dbc;
	color: white;
	border-color: #3c8dbc;
}

.dropdown-toggle {
	transition: background-color ease .3s, color ease .3s, border-color ease
		.3s;
}

.dropdown-toggle:hover {
	background-color: #3c8dbc;
	color: white;
	border-color: #3c8dbc;
}

.open .dropdown-toggle {
	background-color: #3c8dbc !important;
	color: white !important;
	border-color: #3c8dbc !important;
}

.btn-default1 {
	background-color: #f4f4f4;
	color: #444;
	border-color: #ddd;
}

.small-box .icon {
	top: -25px !important;
}

.small-box h3 {
	font-size: 30px !important;
	margin: 0 0 10px 0 !important;
	white-space: nowrap !important;
	padding: 0 !important;
	font-weight: normal !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	line-height: 2.4;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.nav-tabs>li>a {
	border: 1px solid transparent;
	border-radius: 5px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	color: #FFFFFF;
	cursor: default;
	background-color: #27a9e6;
}

.nav-tabs {
	border-bottom: 0;
}
</style>
<div class="" id="main">
	<section class="content" style="min-width: 760px !important;">
		<div class="">

			

			<div class="box box-solid">
				<div class="box-body">
					<ul id="myTab" class="nav nav-tabs">
						
						<li><a href="{:url('Inventorys/check_all')}" > 盘点 </a></li>
						<li class="active"><a href="{:url('Inventorys/safety_all')}" > 安全库存 </a></li>
						<li><a href="{:url('Inventorys/order_all')}" > 出入库记录 </a></li>
					</ul>
				</div>
			</div>

			<div id="myTabContent" class="tab-content">

				<div class="tab-pane fade in active" id="settlementAll">
					<div class="box box-solid">
						<div class="box-body">
							<div class="row">
								<div class="col-md-12 col-sm-12 mb10">
								<form method="post" action="safety_all">
									<div class="input-group" id="settlementDate" style="font-size: x-large; float:left; ">
										<button type="submit" 
											class="btn btn-primary btn-sm checkbox-toggle">设置安全库存</button>
										
									</div>
									<div style="float: left;margin-top: 6px;margin-left: 20px;">当前安全库存：
									<input type="text" name="minimum" style="width: 40px;" value="{$minimum}">&nbsp;-&nbsp;
									<input type="text" name="maximum" style="width: 40px;" value="{$maximum}">
									</div>
								</form>
								</div>
								<div class="col-md-12 col-sm-12 mb10">
									<span class="pull-left col-md-3 col-sm-3 lh34">
										<div class="input-group">
											<span class="input-group-btn"> <span
												class="btn span-default no-padding"
												style="cursor: default; width: 90px;">已设置产品数量：{$check_count}</span>
												
											</span>
											<span class="input-group-btn"> <span
												class="btn span-default no-padding"
												style="cursor: default; width: 90px;">未设置产品数量：{$check_counts}</span>
												
											</span>
										</div>
									</span>
								</div> 
								
							</div>
						</div>
					</div>

					

					<div class="box box-solid">
						<div class="box-body">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="input-group">
										<a href="{:url('Inventorys/add_safety')}"
											class="btn btn-primary btn-sm checkbox-toggle"><i
											class="fa fa-plus"></i> &nbsp;&nbsp;新增</a>
										<a href="javascript:delmes();" class="btn btn-default" type="submit"
											style="margin-left: 5px;">删 除</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box box-solid">
						<div class="box-body no-padding">
							<div class="table-responsive list">
								<table class="table table-hover table-striped table-bordered"
									id="taskTable">
									<thead>
										<tr>
											<th><input type="checkbox" name="checkAll"
												id="checkSelect" value="全选"></th>
											<th>编号</th>
											<th id="tour_1" name="taskCustomer">名称</th>
											<th name="taskCustomerAddress">属性</th>
											<th name="taskProduct">规格</th>

											<th name="taskPlanTime">分类</th>

											<th name="taskServiceType">单位</th>

											<th name="taskCreateUser">系统数量</th>
											

											<th>库存状态</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										{if condition="$res eq false"}
										{volist name="check_all" id="vo"}
										<tr>
											<td><input type="checkbox" class="checkSelect"
												name="checkSelect"
												value="{$vo.cid}"
												id="checkSelect_6e83e2f2-f111-11e7-9aa4-00163e12f748"></td>
											<td><a
												href="javascript:taskView('6e83e2f2-f111-11e7-9aa4-00163e12f748')">{$vo.product_number}</a>
											</td>
											<td name="taskCustomer">{$vo.name}</td>

											<td name="taskCustomerAddress">{$vo.content}</td>

											<td name="taskServiceType">{$vo.specification}</td>

											<td name="taskLevel">{$vo.cateid}</td>

											<td name="taskLevel">{$vo.unit}</td>

											<td name="taskCreateTime">{$vo.p_count}</td>

											{if condition="$minimum gt $vo['p_count']"}
											<td name="taskAllotTime" style="color:red;">低于安全库存</td>
											{elseif condition="$maximum lt $vo['p_count']"}
											<td name="taskAllotTime" style="color:blue;">高于安全库存</td>
											{else}
											<td name="taskAllotTime" style="color:green;">库存安全</td>
											{/if}
											
											
											<td name="taskAllotTime" id="cid" ><a 
											href="javascript:del({$vo.cid})" class="btn btn-primary btn-sm checkbox-toggle" >删除</a></td>
										</tr>
										{/volist}
										{else}
										<tr>
											<td colspan="19" style="text-align: center;">未找到相关数据</td>
										</tr>
										{/if}

									</tbody>
								</table>
							</div>
							<!-- /.mail-box-messages -->
						</div>
						<!-- /.box-body -->
						<div class="box-footer ">
							<!-- <div class="col-lg-4 ">
								共 0 记录&nbsp; 共 0 页 &nbsp; &nbsp;每页显示<select id="sizeSelect">
									<option value="10" selected="">10</option>
									<option value="20">20</option>
									<option value="50">50</option>
								</select>条
							</div>
							<div class="col-lg-8 ">
								<ul class="pagination pull-right" id="pagination1"></ul>
							</div> -->
							{$page}
						</div>
						
					</div>
				
				</div>
		</div>
	</section>
</div>
{include file="public/footer" /}
<script>
    //分页
//     $('#pagination1').jqPaginator({
//         totalPages: 12,//设置分页的总页数
//         visiblePages: 5,//设置最多显示的页码数（例如有100也，当前第1页，则显示1 - 7页）
//         currentPage: 1,//	设置当前的页码
//         first: "<li class=\"first\"><a href=\"javascript:;\">首页</a></li>",
//         last: "<li class=\"last\"><a href=\"javascript:;\">末页</a></li>",
//         prev: "<li class=\"prev\"><a href=\"javascript:;\">上一页</a></li>",
//         next: "<li class=\"next\"><a href=\"javascript:;\">下一页</a></li>",
//         page: "<li class=\"page\" ><a href=\"javascript:;\">{{page}}</a></li>",
//         onPageChange: function (num, type) {
// //            alert(num);
//         }
//     });

//     $('#pagination2').jqPaginator({
//         totalPages: 12,//设置分页的总页数
//         visiblePages: 5,//设置最多显示的页码数（例如有100也，当前第1页，则显示1 - 7页）
//         currentPage: 1,//	设置当前的页码
//         first: "<li class=\"first\"><a href=\"javascript:;\">首页</a></li>",
//         last: "<li class=\"last\"><a href=\"javascript:;\">末页</a></li>",
//         prev: "<li class=\"prev\"><a href=\"javascript:;\">上一页</a></li>",
//         next: "<li class=\"next\"><a href=\"javascript:;\">下一页</a></li>",
//         page: "<li class=\"page\" ><a href=\"javascript:;\">{{page}}</a></li>",
//         onPageChange: function (num, type) {
// //            alert(num);
//         }
//     });

//     $('#pagination3').jqPaginator({
//         totalPages: 12,//设置分页的总页数
//         visiblePages: 5,//设置最多显示的页码数（例如有100也，当前第1页，则显示1 - 7页）
//         currentPage: 1,//	设置当前的页码
//         first: "<li class=\"first\"><a href=\"javascript:;\">首页</a></li>",
//         last: "<li class=\"last\"><a href=\"javascript:;\">末页</a></li>",
//         prev: "<li class=\"prev\"><a href=\"javascript:;\">上一页</a></li>",
//         next: "<li class=\"next\"><a href=\"javascript:;\">下一页</a></li>",
//         page: "<li class=\"page\" ><a href=\"javascript:;\">{{page}}</a></li>",
//         onPageChange: function (num, type) {
// //            alert(num);
//         }
//     });



    ////以下是复选框的选中
    $("#checkSelect").change(function () {
        if ($(this).is(':checked')) {
            $("input[name='checkSelect']").prop("checked", "checked");
        } else {
            $("input[name='checkSelect']").removeAttr("checked");
        }
    });
    $("input[name='checkSelect']").change(function () {
        var flag = true;
        $("input[name='checkSelect']").each(function () {
            if (!$(this).is(':checked')) {
                flag = false;
                return false;
            }
        });
        if (flag) {
            $("#checkSelect").prop("checked", "checked");
        } else {
            $("#checkSelect").removeAttr("checked");
        }
    });
    ////以上是复选框的选中
    
    //显示新建页面,隐藏文件库页面
    function newFile(id1, id2) {
        $('#' + id1).hide();
        $('#' + id2).show();
    }

   //隐藏新建页面,显示文件库页面
    function back(id1, id2) {
        $('#' + id1).show();
        $('#' + id2).hide();
        $("input,textarea").val("");
        UE.getEditor('container').setContent('', false);
        $("select").val(option[0]);
        $("input:radio,input:checkbox").attr("checked",false);
    }
   
   function modalShow(){
       $('#customerFrameModal').modal('show');
   }
   

/*   $('#btnSearch').click(function(){
        var formData = $("#keyword").val();    
                //serialize() 方法通过序列化表单值，创建 URL 编码文本字符串,这个是jquery提供的方法    
                $.ajax({    
                    type:"post",    
                    url:"{:url('Boquan/inventorys/supplier_add')}",    
                    data:formData,//这里data传递过去的是序列化以后的字符串    
                    success:function(data){    
                        $("#content").append(data);//获取成功以后输出返回值    
                    }    
                }); 
   })*/


   //删除
    function del(id){
        if(confirm("你确认要删除吗?")){
            $.post("{:url('Inventorys/delsafety')}",{id:id},function(data){
                if(data == -1){
                    alert('不是AJAX请求方式');
                }else if(data == 0){
                    alert('删除失败');
                    location.reload();
                }else if(data == 1){
                    location.reload();
                }
            },'json')
        }
    }


    function pan(id){
    	
    	document.getElementById("pid").value=id;
    }
    


    //批量删除
  	function delmes(){
  		//获取选中的数据id
  		obj = document.getElementsByName("checkSelect");
		    var mid = [];
		    for(k in obj){
		        if(obj[k].checked)
		            mid.push(obj[k].value);
		    }
		//判断是否有选中数据
		if (mid == '') {
			alert('请先选择');
		}else{
			if(confirm('你确定要删除吗？')){
		  		$.post("{:url('Inventorys/del_safety')}",{id:mid},function(data){
	                if(data == 0){
	                    alert('删除失败');
	                    location.reload();
	                }else if(data == 1){
	                    location.reload();
	                }
	            },'json')
  			}
		}
  		
  	}    

</script>